*/.project
*/.classpath
*/.settings/*
*/*/.project
*/*/.classpath
*/*/.settings/*
*/*/*/.project
*/*/*/.classpath
*/*/*/.settings/*


*/target/*
*/*/target/*
*/*/*/target/*
*/*/*/*/target/*
*/*/*/*/*/target/*



*.class

pallasli-root/pallasli-webapp/pallasli-webapp-portal/webapp/*
