
pallasli-root/pallasli-webapp/*
pallasli-root/pallasli-web-js-css/*


*/.project

*/.classpath

*/.settings/*

*/*/.project

*/*/.classpath

*/*/.settings/*


*/*/target/*
*/*/*/target/*
*/*/*/*/target/*
*/*/*/*/*/target/*

