**/.project
**/.classpath
**/.settings/**

**/target/**

*.class

pallasli-root/pallasli-webapp/pallasli-webapp-portal/webapp/*
 

pallasli-root/**/node_modules/*

pallasli-root/pallasli-study/log/*
 


pallasli-designer-parent/pallasli-designer-web/.tern-project

pallasli-root/pallasli-webapp/pallasli-webapp-pm-ext/.project

pallasli-root/pallasli-webapp/pallasli-webapp-portal/.project
