a:hover {color: #FF0000; text-decoration: none;font-family:"Î¢ÈíÑÅºÚ","ËÎÌå"}
.toptrbg{font-weight:bold;height:23px;background-image: url(/linkey/bpm/ext/resources/images/default/grid/grid3-hrow.gif);}
body,font,fieldset,td{font-size:9pt;font-family:"Î¢ÈíÑÅºÚ","ËÎÌå";}
.userid{padding-left:20px;background-image: url(/linkey/bpm/images/icons/fam/user.gif);background-repeat:no-repeat !important;}
.datetime{padding-left:20px;background-image: url(/linkey/bpm/images/icons/fam/datetime.gif);background-repeat:no-repeat;background-position:2 3;}
textarea {overflow:auto;border:"1px solid #7eadd9";}
