.icon-administrator-action {
	background-image: url(../icon/administrator/action.gif) !important;
}
.icon-administrator-application {
	background-image: url(../icon/administrator/application.gif) !important;
}
.icon-administrator-applicationfolder {
	background-image: url(../icon/administrator/applicationfolder.gif) !important;
}
.icon-administrator-applicationroleauthfolder {
	background-image: url(../icon/administrator/applicationroleauthfolder.gif) !important;
}
.icon-administrator-attribute {
	background-image: url(../icon/administrator/attribute.gif) !important;
}
.icon-administrator-attributewin {
	background-image: url(../icon/administrator/attributewin.png) !important;
}
.icon-administrator-authoritymap {
	background-image: url(../icon/administrator/authoritymap.gif) !important;
}
.icon-administrator-class {
	background-image: url(../icon/administrator/class.gif) !important;
}
.icon-administrator-column {
	background-image: url(../icon/administrator/column.gif) !important;
}
.icon-administrator-configuration {
	background-image: url(../icon/administrator/configuration.png) !important;
}
.icon-administrator-dept {
	background-image: url(../icon/administrator/dept.gif) !important;
}
.icon-administrator-deptfolder {
	background-image: url(../icon/administrator/deptfolder.png) !important;
}
.icon-administrator-dictionary {
	background-image: url(../icon/administrator/dictionary.gif) !important;
}
.icon-administrator-dictionarydata {
	background-image: url(../icon/administrator/dictionarydata.gif) !important;
}
.icon-administrator-dictionaryfolder {
	background-image: url(../icon/administrator/dictionaryfolder.gif) !important;
}
.icon-administrator-dictionarys {
	background-image: url(../icon/administrator/dictionarys.gif) !important;
}
.icon-administrator-document {
	background-image: url(../icon/administrator/document.gif) !important;
}
.icon-administrator-emptydoc {
	background-image: url(../icon/administrator/emptydoc.gif) !important;
}
.icon-administrator-explorerwin {
	background-image: url(../icon/administrator/explorerwin.gif) !important;
}
.icon-administrator-extbutton {
	background-image: url(../icon/administrator/extbutton.gif) !important;
}
.icon-administrator-field {
	background-image: url(../icon/administrator/field.gif) !important;
}
.icon-administrator-flow {
	background-image: url(../icon/administrator/flow.png) !important;
}
.icon-administrator-flowinstencefolder {
	background-image: url(../icon/administrator/flowinstencefolder.gif) !important;
}
.icon-administrator-flowinstences {
	background-image: url(../icon/administrator/flowinstences.gif) !important;
}
.icon-administrator-group {
	background-image: url(../icon/administrator/group.gif) !important;
}
.icon-administrator-identity {
	background-image: url(../icon/administrator/identity.gif) !important;
}
.icon-administrator-menuauthfolder {
	background-image: url(../icon/administrator/menuauthfolder.gif) !important;
}
.icon-administrator-menufolder {
	background-image: url(../icon/administrator/menufolder.gif) !important;
}
.icon-administrator-menus {
	background-image: url(../icon/administrator/menus.gif) !important;
}
.icon-administrator-module {
	background-image: url(../icon/administrator/module.gif) !important;
}
.icon-administrator-moduleauthorityfolder {
	background-image: url(../icon/administrator/moduleauthorityfolder.png) !important;
}
.icon-administrator-modulefolder {
	background-image: url(../icon/administrator/modulefolder.gif) !important;
}
.icon-administrator-modulemenu {
	background-image: url(../icon/administrator/modulemenu.gif) !important;
}
.icon-administrator-modulerole {
	background-image: url(../icon/administrator/modulerole.gif) !important;
}
.icon-administrator-modules {
	background-image: url(../icon/administrator/modules.png) !important;
}
.icon-administrator-node {
	background-image: url(../icon/administrator/node.gif) !important;
}
.icon-administrator-organization {
	background-image: url(../icon/administrator/organization.png) !important;
}
.icon-administrator-organizationselector {
	background-image: url(../icon/administrator/organizationselector.gif) !important;
}
.icon-administrator-panel {
	background-image: url(../icon/administrator/panel.gif) !important;
}
.icon-administrator-portalmenufolder {
	background-image: url(../icon/administrator/portalmenufolder.gif) !important;
}
.icon-administrator-portlet {
	background-image: url(../icon/administrator/portlet.png) !important;
}
.icon-administrator-query {
	background-image: url(../icon/administrator/query.gif) !important;
}
.icon-administrator-relation {
	background-image: url(../icon/administrator/relation.gif) !important;
}
.icon-administrator-role {
	background-image: url(../icon/administrator/role.gif) !important;
}
.icon-administrator-rolefolder {
	background-image: url(../icon/administrator/rolefolder.png) !important;
}
.icon-administrator-route {
	background-image: url(../icon/administrator/route.png) !important;
}
.icon-administrator-scope1 {
	background-image: url(../icon/administrator/scope1.gif) !important;
}
.icon-administrator-scope2 {
	background-image: url(../icon/administrator/scope2.gif) !important;
}
.icon-administrator-scope3 {
	background-image: url(../icon/administrator/scope3.gif) !important;
}
.icon-administrator-scope4 {
	background-image: url(../icon/administrator/scope4.gif) !important;
}
.icon-administrator-scope5 {
	background-image: url(../icon/administrator/scope5.gif) !important;
}
.icon-administrator-state {
	background-image: url(../icon/administrator/state.gif) !important;
}
.icon-administrator-table {
	background-image: url(../icon/administrator/table.gif) !important;
}
.icon-administrator-tableform {
	background-image: url(../icon/administrator/tableform.gif) !important;
}
.icon-administrator-user {
	background-image: url(../icon/administrator/user.gif) !important;
}
.icon-administrator-userfolder {
	background-image: url(../icon/administrator/userfolder.gif) !important;
}
.icon-administrator-view {
	background-image: url(../icon/administrator/view.gif) !important;
}
.icon-administrator-viewparameter {
	background-image: url(../icon/administrator/viewparameter.gif) !important;
}
.icon-app-common-analyse {
	background-image: url(../icon/app/common/analyse.png) !important;
}
.icon-app-common-approve {
	background-image: url(../icon/app/common/approve.png) !important;
}
.icon-app-common-backup {
	background-image: url(../icon/app/common/backup.png) !important;
}
.icon-app-common-chart {
	background-image: url(../icon/app/common/chart.png) !important;
}
.icon-app-common-compute {
	background-image: url(../icon/app/common/compute.png) !important;
}
.icon-app-common-document {
	background-image: url(../icon/app/common/document.png) !important;
}
.icon-app-common-exchage {
	background-image: url(../icon/app/common/exchage.png) !important;
}
.icon-app-common-exchange {
	background-image: url(../icon/app/common/exchange.png) !important;
}
.icon-app-common-gjd {
	background-image: url(../icon/app/common/gjd.gif) !important;
}
.icon-app-common-gjdbm {
	background-image: url(../icon/app/common/gjdbm.gif) !important;
}
.icon-app-common-gjdyh {
	background-image: url(../icon/app/common/gjdyh.gif) !important;
}
.icon-app-common-gjdyhwd {
	background-image: url(../icon/app/common/gjdyhwd.gif) !important;
}
.icon-app-common-input {
	background-image: url(../icon/app/common/input.png) !important;
}
.icon-app-common-output {
	background-image: url(../icon/app/common/output.png) !important;
}
.icon-app-common-print {
	background-image: url(../icon/app/common/print.png) !important;
}
.icon-app-common-query {
	background-image: url(../icon/app/common/query.png) !important;
}
.icon-app-common-scan {
	background-image: url(../icon/app/common/scan.png) !important;
}
.icon-app-common-statistics {
	background-image: url(../icon/app/common/statistics.png) !important;
}
.icon-app-common-takepicture {
	background-image: url(../icon/app/common/takepicture.png) !important;
}
.icon-app-console-01 {
	background-image: url(../icon/app/console/01.png) !important;
}
.icon-app-console-02 {
	background-image: url(../icon/app/console/02.png) !important;
}
.icon-app-console-03 {
	background-image: url(../icon/app/console/03.png) !important;
}
.icon-app-console-控制中心 {
	background-image: url(../icon/app/console/控制中心.jpg) !important;
}
.icon-app-daikuan-01 {
	background-image: url(../icon/app/daikuan/01.png) !important;
}
.icon-app-daikuan-02 {
	background-image: url(../icon/app/daikuan/02.png) !important;
}
.icon-app-daikuan-03 {
	background-image: url(../icon/app/daikuan/03.png) !important;
}
.icon-app-daikuan-04 {
	background-image: url(../icon/app/daikuan/04.png) !important;
}
.icon-app-daikuan-05 {
	background-image: url(../icon/app/daikuan/05.png) !important;
}
.icon-app-daikuan-06 {
	background-image: url(../icon/app/daikuan/06.png) !important;
}
.icon-app-daikuan-07 {
	background-image: url(../icon/app/daikuan/07.png) !important;
}
.icon-app-daikuan-08 {
	background-image: url(../icon/app/daikuan/08.png) !important;
}
.icon-app-daikuan-09 {
	background-image: url(../icon/app/daikuan/09.png) !important;
}
.icon-app-daikuan-10 {
	background-image: url(../icon/app/daikuan/10.png) !important;
}
.icon-app-daikuan-贷款管理 {
	background-image: url(../icon/app/daikuan/贷款管理.jpg) !important;
}
.icon-app-guiji-01 {
	background-image: url(../icon/app/guiji/01.png) !important;
}
.icon-app-guiji-02 {
	background-image: url(../icon/app/guiji/02.png) !important;
}
.icon-app-guiji-03 {
	background-image: url(../icon/app/guiji/03.png) !important;
}
.icon-app-guiji-04 {
	background-image: url(../icon/app/guiji/04.png) !important;
}
.icon-app-guiji-05 {
	background-image: url(../icon/app/guiji/05.png) !important;
}
.icon-app-guiji-06 {
	background-image: url(../icon/app/guiji/06.png) !important;
}
.icon-app-guiji-07 {
	background-image: url(../icon/app/guiji/07.png) !important;
}
.icon-app-guiji-08 {
	background-image: url(../icon/app/guiji/08.png) !important;
}
.icon-app-guiji-09 {
	background-image: url(../icon/app/guiji/09.png) !important;
}
.icon-app-guiji-10 {
	background-image: url(../icon/app/guiji/10.png) !important;
}
.icon-app-guiji-归集管理 {
	background-image: url(../icon/app/guiji/归集管理.jpg) !important;
}
.icon-app-mkoa-addcomment {
	background-image: url(../icon/app/mkoa/addcomment.png) !important;
}
.icon-app-mkoa-addressbook {
	background-image: url(../icon/app/mkoa/addressbook.png) !important;
}
.icon-app-mkoa-addressbook24 {
	background-image: url(../icon/app/mkoa/addressbook24.png) !important;
}
.icon-app-mkoa-admin {
	background-image: url(../icon/app/mkoa/admin.gif) !important;
}
.icon-app-mkoa-admin24 {
	background-image: url(../icon/app/mkoa/admin24.gif) !important;
}
.icon-app-mkoa-alert {
	background-image: url(../icon/app/mkoa/alert.png) !important;
}
.icon-app-mkoa-asset {
	background-image: url(../icon/app/mkoa/asset.gif) !important;
}
.icon-app-mkoa-asset24 {
	background-image: url(../icon/app/mkoa/asset24.gif) !important;
}
.icon-app-mkoa-attendance {
	background-image: url(../icon/app/mkoa/attendance.png) !important;
}
.icon-app-mkoa-attendance24 {
	background-image: url(../icon/app/mkoa/attendance24.png) !important;
}
.icon-app-mkoa-autoday {
	background-image: url(../icon/app/mkoa/autoday.gif) !important;
}
.icon-app-mkoa-bill {
	background-image: url(../icon/app/mkoa/bill.gif) !important;
}
.icon-app-mkoa-billin {
	background-image: url(../icon/app/mkoa/billin.gif) !important;
}
.icon-app-mkoa-billout {
	background-image: url(../icon/app/mkoa/billout.gif) !important;
}
.icon-app-mkoa-btnaddcomment {
	background-image: url(../icon/app/mkoa/btnaddcomment.png) !important;
}
.icon-app-mkoa-calendar {
	background-image: url(../icon/app/mkoa/calendar.png) !important;
}
.icon-app-mkoa-calendar24 {
	background-image: url(../icon/app/mkoa/calendar24.png) !important;
}
.icon-app-mkoa-calendarshare {
	background-image: url(../icon/app/mkoa/calendarshare.png) !important;
}
.icon-app-mkoa-car-list {
	background-image: url(../icon/app/mkoa/car-list.png) !important;
}
.icon-app-mkoa-car {
	background-image: url(../icon/app/mkoa/car.png) !important;
}
.icon-app-mkoa-car24 {
	background-image: url(../icon/app/mkoa/car24.png) !important;
}
.icon-app-mkoa-civilwork {
	background-image: url(../icon/app/mkoa/civilwork.gif) !important;
}
.icon-app-mkoa-client {
	background-image: url(../icon/app/mkoa/client.png) !important;
}
.icon-app-mkoa-client24 {
	background-image: url(../icon/app/mkoa/client24.png) !important;
}
.icon-app-mkoa-collaboration {
	background-image: url(../icon/app/mkoa/collaboration.png) !important;
}
.icon-app-mkoa-config {
	background-image: url(../icon/app/mkoa/config.png) !important;
}
.icon-app-mkoa-daytips {
	background-image: url(../icon/app/mkoa/daytips.gif) !important;
}
.icon-app-mkoa-daytips48 {
	background-image: url(../icon/app/mkoa/daytips48.gif) !important;
}
.icon-app-mkoa-downloadmail {
	background-image: url(../icon/app/mkoa/downloadmail.png) !important;
}
.icon-app-mkoa-draft {
	background-image: url(../icon/app/mkoa/draft.png) !important;
}
.icon-app-mkoa-empty {
	background-image: url(../icon/app/mkoa/empty.gif) !important;
}
.icon-app-mkoa-empty24 {
	background-image: url(../icon/app/mkoa/empty24.gif) !important;
}
.icon-app-mkoa-emptytag {
	background-image: url(../icon/app/mkoa/emptytag.gif) !important;
}
.icon-app-mkoa-favorite {
	background-image: url(../icon/app/mkoa/favorite.png) !important;
}
.icon-app-mkoa-favorite24 {
	background-image: url(../icon/app/mkoa/favorite24.png) !important;
}
.icon-app-mkoa-favoritetag {
	background-image: url(../icon/app/mkoa/favoritetag.gif) !important;
}
.icon-app-mkoa-favoritetag24 {
	background-image: url(../icon/app/mkoa/favoritetag24.gif) !important;
}
.icon-app-mkoa-file {
	background-image: url(../icon/app/mkoa/file.gif) !important;
}
.icon-app-mkoa-finance {
	background-image: url(../icon/app/mkoa/finance.png) !important;
}
.icon-app-mkoa-finance24 {
	background-image: url(../icon/app/mkoa/finance24.png) !important;
}
.icon-app-mkoa-folder {
	background-image: url(../icon/app/mkoa/folder.gif) !important;
}
.icon-app-mkoa-foldernet {
	background-image: url(../icon/app/mkoa/foldernet.gif) !important;
}
.icon-app-mkoa-foldernet24 {
	background-image: url(../icon/app/mkoa/foldernet24.gif) !important;
}
.icon-app-mkoa-folders {
	background-image: url(../icon/app/mkoa/folders.gif) !important;
}
.icon-app-mkoa-foldershare {
	background-image: url(../icon/app/mkoa/foldershare.gif) !important;
}
.icon-app-mkoa-foldershares {
	background-image: url(../icon/app/mkoa/foldershares.png) !important;
}
.icon-app-mkoa-folderup {
	background-image: url(../icon/app/mkoa/folderup.gif) !important;
}
.icon-app-mkoa-forum-addtopic {
	background-image: url(../icon/app/mkoa/forum/addtopic.png) !important;
}
.icon-app-mkoa-forum-all {
	background-image: url(../icon/app/mkoa/forum/all.png) !important;
}
.icon-app-mkoa-forum-classical {
	background-image: url(../icon/app/mkoa/forum/classical.png) !important;
}
.icon-app-mkoa-forum-forum {
	background-image: url(../icon/app/mkoa/forum/forum.png) !important;
}
.icon-app-mkoa-forum-forumfolder {
	background-image: url(../icon/app/mkoa/forum/forumfolder.png) !important;
}
.icon-app-mkoa-forum-lock {
	background-image: url(../icon/app/mkoa/forum/lock.png) !important;
}
.icon-app-mkoa-forum-replay {
	background-image: url(../icon/app/mkoa/forum/replay.png) !important;
}
.icon-app-mkoa-forum-top {
	background-image: url(../icon/app/mkoa/forum/top.png) !important;
}
.icon-app-mkoa-forum-unlock {
	background-image: url(../icon/app/mkoa/forum/unlock.png) !important;
}
.icon-app-mkoa-forum {
	background-image: url(../icon/app/mkoa/forum.png) !important;
}
.icon-app-mkoa-forum24 {
	background-image: url(../icon/app/mkoa/forum24.png) !important;
}
.icon-app-mkoa-forumcategory {
	background-image: url(../icon/app/mkoa/forumcategory.png) !important;
}
.icon-app-mkoa-forward {
	background-image: url(../icon/app/mkoa/forward.png) !important;
}
.icon-app-mkoa-forwardatt {
	background-image: url(../icon/app/mkoa/forwardatt.png) !important;
}
.icon-app-mkoa-gis {
	background-image: url(../icon/app/mkoa/gis.png) !important;
}
.icon-app-mkoa-gis24 {
	background-image: url(../icon/app/mkoa/gis24.png) !important;
}
.icon-app-mkoa-gisexplorer {
	background-image: url(../icon/app/mkoa/gisexplorer.gif) !important;
}
.icon-app-mkoa-gisexplorer24 {
	background-image: url(../icon/app/mkoa/gisexplorer24.gif) !important;
}
.icon-app-mkoa-good {
	background-image: url(../icon/app/mkoa/good.png) !important;
}
.icon-app-mkoa-knowledge {
	background-image: url(../icon/app/mkoa/knowledge.png) !important;
}
.icon-app-mkoa-knowledge24 {
	background-image: url(../icon/app/mkoa/knowledge24.png) !important;
}
.icon-app-mkoa-knowledgedetail {
	background-image: url(../icon/app/mkoa/knowledgedetail.png) !important;
}
.icon-app-mkoa-mail {
	background-image: url(../icon/app/mkoa/mail.png) !important;
}
.icon-app-mkoa-mail24 {
	background-image: url(../icon/app/mkoa/mail24.png) !important;
}
.icon-app-mkoa-mailwrite {
	background-image: url(../icon/app/mkoa/mailwrite.png) !important;
}
.icon-app-mkoa-move {
	background-image: url(../icon/app/mkoa/move.png) !important;
}
.icon-app-mkoa-myoffice {
	background-image: url(../icon/app/mkoa/myoffice.png) !important;
}
.icon-app-mkoa-namecard {
	background-image: url(../icon/app/mkoa/namecard.png) !important;
}
.icon-app-mkoa-namecardpublic {
	background-image: url(../icon/app/mkoa/namecardpublic.png) !important;
}
.icon-app-mkoa-namecardshare {
	background-image: url(../icon/app/mkoa/namecardshare.png) !important;
}
.icon-app-mkoa-notify {
	background-image: url(../icon/app/mkoa/notify.png) !important;
}
.icon-app-mkoa-notify24 {
	background-image: url(../icon/app/mkoa/notify24.png) !important;
}
.icon-app-mkoa-office-bill-mine {
	background-image: url(../icon/app/mkoa/office-bill-mine.png) !important;
}
.icon-app-mkoa-office-bill {
	background-image: url(../icon/app/mkoa/office-bill.png) !important;
}
.icon-app-mkoa-office-brick {
	background-image: url(../icon/app/mkoa/office-brick.png) !important;
}
.icon-app-mkoa-office-in {
	background-image: url(../icon/app/mkoa/office-in.png) !important;
}
.icon-app-mkoa-office-out {
	background-image: url(../icon/app/mkoa/office-out.png) !important;
}
.icon-app-mkoa-office-report {
	background-image: url(../icon/app/mkoa/office-report.png) !important;
}
.icon-app-mkoa-office-tackle {
	background-image: url(../icon/app/mkoa/office-tackle.png) !important;
}
.icon-app-mkoa-office {
	background-image: url(../icon/app/mkoa/office.png) !important;
}
.icon-app-mkoa-office24 {
	background-image: url(../icon/app/mkoa/office24.png) !important;
}
.icon-app-mkoa-personrecord {
	background-image: url(../icon/app/mkoa/personrecord.jpg) !important;
}
.icon-app-mkoa-personrecord24 {
	background-image: url(../icon/app/mkoa/personrecord24.jpg) !important;
}
.icon-app-mkoa-personrecordlist {
	background-image: url(../icon/app/mkoa/personrecordlist.png) !important;
}
.icon-app-mkoa-phone {
	background-image: url(../icon/app/mkoa/phone.png) !important;
}
.icon-app-mkoa-phone24 {
	background-image: url(../icon/app/mkoa/phone24.png) !important;
}
.icon-app-mkoa-project {
	background-image: url(../icon/app/mkoa/project.png) !important;
}
.icon-app-mkoa-project24 {
	background-image: url(../icon/app/mkoa/project24.png) !important;
}
.icon-app-mkoa-publicinfo {
	background-image: url(../icon/app/mkoa/publicinfo.png) !important;
}
.icon-app-mkoa-refresh {
	background-image: url(../icon/app/mkoa/refresh.png) !important;
}
.icon-app-mkoa-refresh24 {
	background-image: url(../icon/app/mkoa/refresh24.png) !important;
}
.icon-app-mkoa-regulations {
	background-image: url(../icon/app/mkoa/regulations.png) !important;
}
.icon-app-mkoa-regulations24 {
	background-image: url(../icon/app/mkoa/regulations24.png) !important;
}
.icon-app-mkoa-reply {
	background-image: url(../icon/app/mkoa/reply.png) !important;
}
.icon-app-mkoa-replyall {
	background-image: url(../icon/app/mkoa/replyall.png) !important;
}
.icon-app-mkoa-restday {
	background-image: url(../icon/app/mkoa/restday.gif) !important;
}
.icon-app-mkoa-rule {
	background-image: url(../icon/app/mkoa/rule.png) !important;
}
.icon-app-mkoa-senddocument {
	background-image: url(../icon/app/mkoa/senddocument.png) !important;
}
.icon-app-mkoa-senddocument24 {
	background-image: url(../icon/app/mkoa/senddocument24.png) !important;
}
.icon-app-mkoa-sent {
	background-image: url(../icon/app/mkoa/sent.png) !important;
}
.icon-app-mkoa-signature {
	background-image: url(../icon/app/mkoa/signature.png) !important;
}
.icon-app-mkoa-tag {
	background-image: url(../icon/app/mkoa/tag.gif) !important;
}
.icon-app-mkoa-tag24 {
	background-image: url(../icon/app/mkoa/tag24.gif) !important;
}
.icon-app-mkoa-tagfolder {
	background-image: url(../icon/app/mkoa/tagfolder.png) !important;
}
.icon-app-mkoa-tagmail {
	background-image: url(../icon/app/mkoa/tagmail.png) !important;
}
.icon-app-mkoa-tags {
	background-image: url(../icon/app/mkoa/tags.png) !important;
}
.icon-app-mkoa-todo {
	background-image: url(../icon/app/mkoa/todo.png) !important;
}
.icon-app-mkoa-todo24 {
	background-image: url(../icon/app/mkoa/todo24.png) !important;
}
.icon-app-mkoa-todohistory {
	background-image: url(../icon/app/mkoa/todohistory.png) !important;
}
.icon-app-mkoa-trash {
	background-image: url(../icon/app/mkoa/trash.png) !important;
}
.icon-app-mkoa-usein {
	background-image: url(../icon/app/mkoa/usein.png) !important;
}
.icon-app-mkoa-useout {
	background-image: url(../icon/app/mkoa/useout.png) !important;
}
.icon-app-mkoa-workday {
	background-image: url(../icon/app/mkoa/workday.gif) !important;
}
.icon-app-mkoa-worklog {
	background-image: url(../icon/app/mkoa/worklog.png) !important;
}
.icon-app-mkoa-worklog24 {
	background-image: url(../icon/app/mkoa/worklog24.png) !important;
}
.icon-app-mkoa-workreport {
	background-image: url(../icon/app/mkoa/workreport.png) !important;
}
.icon-app-mkoa-workreport24 {
	background-image: url(../icon/app/mkoa/workreport24.png) !important;
}
.icon-app-mkoa-workrequest {
	background-image: url(../icon/app/mkoa/workrequest.png) !important;
}
.icon-app-mkoa-workrequest24 {
	background-image: url(../icon/app/mkoa/workrequest24.png) !important;
}
.icon-app-mkoa-worksystem {
	background-image: url(../icon/app/mkoa/worksystem.png) !important;
}
.icon-app-mkoa-worksystem24 {
	background-image: url(../icon/app/mkoa/worksystem24.png) !important;
}
.icon-app-OA-01 {
	background-image: url(../icon/app/OA/01.png) !important;
}
.icon-app-OA-02 {
	background-image: url(../icon/app/OA/02.png) !important;
}
.icon-app-OA-03 {
	background-image: url(../icon/app/OA/03.png) !important;
}
.icon-app-OA-04 {
	background-image: url(../icon/app/OA/04.png) !important;
}
.icon-app-OA-down {
	background-image: url(../icon/app/OA/down.png) !important;
}
.icon-app-OA-task_add {
	background-image: url(../icon/app/OA/task_add.png) !important;
}
.icon-app-OA-task_ck {
	background-image: url(../icon/app/OA/task_ck.png) !important;
}
.icon-app-OA-task_del {
	background-image: url(../icon/app/OA/task_del.png) !important;
}
.icon-app-OA-task_gp {
	background-image: url(../icon/app/OA/task_gp.png) !important;
}
.icon-app-OA-task_js {
	background-image: url(../icon/app/OA/task_js.png) !important;
}
.icon-app-OA-task_mx {
	background-image: url(../icon/app/OA/task_mx.png) !important;
}
.icon-app-OA-task_qd {
	background-image: url(../icon/app/OA/task_qd.png) !important;
}
.icon-app-OA-task_shqr {
	background-image: url(../icon/app/OA/task_shqr.png) !important;
}
.icon-app-OA-task_th {
	background-image: url(../icon/app/OA/task_th.png) !important;
}
.icon-app-OA-task_zz {
	background-image: url(../icon/app/OA/task_zz.png) !important;
}
.icon-app-OA-tobottom {
	background-image: url(../icon/app/OA/tobottom.png) !important;
}
.icon-app-OA-totop {
	background-image: url(../icon/app/OA/totop.png) !important;
}
.icon-app-OA-up {
	background-image: url(../icon/app/OA/up.png) !important;
}
.icon-app-OA-办公0A {
	background-image: url(../icon/app/OA/办公0A.jpg) !important;
}
.icon-app-wa-canwuguanli {
	background-image: url(../icon/app/wa/canwuguanli.png) !important;
}
.icon-app-wa-daikuanguanli {
	background-image: url(../icon/app/wa/daikuanguanli.png) !important;
}
.icon-app-wa-danganguanli {
	background-image: url(../icon/app/wa/danganguanli.png) !important;
}
.icon-app-wa-duanxinguanli {
	background-image: url(../icon/app/wa/duanxinguanli.png) !important;
}
.icon-app-wa-guijiguanli {
	background-image: url(../icon/app/wa/guijiguanli.png) !important;
}
.icon-app-wa-kongzhizhongxin {
	background-image: url(../icon/app/wa/kongzhizhongxin.png) !important;
}
.icon-app-wa-OA {
	background-image: url(../icon/app/wa/OA.png) !important;
}
.icon-app-wacw-01 {
	background-image: url(../icon/app/wacw/01.png) !important;
}
.icon-app-wacw-02 {
	background-image: url(../icon/app/wacw/02.png) !important;
}
.icon-app-wacw-03 {
	background-image: url(../icon/app/wacw/03.png) !important;
}
.icon-app-wacw-04 {
	background-image: url(../icon/app/wacw/04.png) !important;
}
.icon-app-wacw-05 {
	background-image: url(../icon/app/wacw/05.png) !important;
}
.icon-app-wacw-06 {
	background-image: url(../icon/app/wacw/06.png) !important;
}
.icon-app-wacw-07 {
	background-image: url(../icon/app/wacw/07.png) !important;
}
.icon-app-wacw-08 {
	background-image: url(../icon/app/wacw/08.png) !important;
}
.icon-app-wacw-财务管理 {
	background-image: url(../icon/app/wacw/财务管理.jpg) !important;
}
.icon-app-wada-01 {
	background-image: url(../icon/app/wada/01.png) !important;
}
.icon-app-wada-02 {
	background-image: url(../icon/app/wada/02.png) !important;
}
.icon-app-wada-03 {
	background-image: url(../icon/app/wada/03.png) !important;
}
.icon-app-wada-04 {
	background-image: url(../icon/app/wada/04.png) !important;
}
.icon-app-wada-05 {
	background-image: url(../icon/app/wada/05.png) !important;
}
.icon-app-wada-06 {
	background-image: url(../icon/app/wada/06.png) !important;
}
.icon-app-wada-档案管理 {
	background-image: url(../icon/app/wada/档案管理.jpg) !important;
}
.icon-app-wadx-01 {
	background-image: url(../icon/app/wadx/01.png) !important;
}
.icon-app-wadx-02 {
	background-image: url(../icon/app/wadx/02.png) !important;
}
.icon-app-wadx-03 {
	background-image: url(../icon/app/wadx/03.png) !important;
}
.icon-app-wadx-短信管理 {
	background-image: url(../icon/app/wadx/短信管理.jpg) !important;
}
.icon-common-add {
	background-image: url(../icon/common/add.png) !important;
}
.icon-common-apply {
	background-image: url(../icon/common/apply.png) !important;
}
.icon-common-aquery {
	background-image: url(../icon/common/aquery.png) !important;
}
.icon-common-btnback {
	background-image: url(../icon/common/btnback.gif) !important;
}
.icon-common-btnnext {
	background-image: url(../icon/common/btnnext.gif) !important;
}
.icon-common-build {
	background-image: url(../icon/common/build.png) !important;
}
.icon-common-cancel {
	background-image: url(../icon/common/cancel.png) !important;
}
.icon-common-checked {
	background-image: url(../icon/common/checked.png) !important;
}
.icon-common-close {
	background-image: url(../icon/common/close.png) !important;
}
.icon-common-confirm {
	background-image: url(../icon/common/confirm.png) !important;
}
.icon-common-copy {
	background-image: url(../icon/common/copy.png) !important;
}
.icon-common-delete {
	background-image: url(../icon/common/delete.gif) !important;
}
.icon-common-dept {
	background-image: url(../icon/common/dept.gif) !important;
}
.icon-common-down {
	background-image: url(../icon/common/down.gif) !important;
}
.icon-common-edit {
	background-image: url(../icon/common/edit.png) !important;
}
.icon-common-exit {
	background-image: url(../icon/common/exit.png) !important;
}
.icon-common-export {
	background-image: url(../icon/common/export.png) !important;
}
.icon-common-extend {
	background-image: url(../icon/common/extend.gif) !important;
}
.icon-common-flow-archive {
	background-image: url(../icon/common/flow/archive.png) !important;
}
.icon-common-flow-assistover {
	background-image: url(../icon/common/flow/assistover.png) !important;
}
.icon-common-flow-doclist {
	background-image: url(../icon/common/flow/doclist.gif) !important;
}
.icon-common-flow-erinfo {
	background-image: url(../icon/common/flow/erinfo.gif) !important;
}
.icon-common-flow-opinion {
	background-image: url(../icon/common/flow/opinion.png) !important;
}
.icon-common-flow-processover {
	background-image: url(../icon/common/flow/processover.png) !important;
}
.icon-common-flow-readover {
	background-image: url(../icon/common/flow/readover.png) !important;
}
.icon-common-flow-request {
	background-image: url(../icon/common/flow/request.png) !important;
}
.icon-common-flow-stop {
	background-image: url(../icon/common/flow/stop.png) !important;
}
.icon-common-flow-takeback {
	background-image: url(../icon/common/flow/takeback.png) !important;
}
.icon-common-flow-turnback {
	background-image: url(../icon/common/flow/turnback.png) !important;
}
.icon-common-import {
	background-image: url(../icon/common/import.gif) !important;
}
.icon-common-json {
	background-image: url(../icon/common/json.png) !important;
}
.icon-common-loading {
	background-image: url(../icon/common/loading.gif) !important;
}
.icon-common-open {
	background-image: url(../icon/common/open.gif) !important;
}
.icon-common-paste {
	background-image: url(../icon/common/paste.gif) !important;
}
.icon-common-quit {
	background-image: url(../icon/common/quit.png) !important;
}
.icon-common-refresh {
	background-image: url(../icon/common/refresh.png) !important;
}
.icon-common-rename {
	background-image: url(../icon/common/rename.gif) !important;
}
.icon-common-return {
	background-image: url(../icon/common/return.gif) !important;
}
.icon-common-role {
	background-image: url(../icon/common/role.gif) !important;
}
.icon-common-rowadded {
	background-image: url(../icon/common/rowadded.png) !important;
}
.icon-common-rowchanged {
	background-image: url(../icon/common/rowchanged.png) !important;
}
.icon-common-rowdeleted {
	background-image: url(../icon/common/rowdeleted.png) !important;
}
.icon-common-running {
	background-image: url(../icon/common/running.png) !important;
}
.icon-common-save {
	background-image: url(../icon/common/save.png) !important;
}
.icon-common-search {
	background-image: url(../icon/common/search.png) !important;
}
.icon-common-skin {
	background-image: url(../icon/common/skin.png) !important;
}
.icon-common-unknow {
	background-image: url(../icon/common/unknow.png) !important;
}
.icon-common-up {
	background-image: url(../icon/common/up.gif) !important;
}
.icon-common-update {
	background-image: url(../icon/common/update.png) !important;
}
.icon-common-updateim {
	background-image: url(../icon/common/updateim.png) !important;
}
.icon-common-user {
	background-image: url(../icon/common/user.gif) !important;
}
.icon-menu-1-1 {
	background-image: url(../icon/menu/1/1.png) !important;
}
.icon-menu-1-10 {
	background-image: url(../icon/menu/1/10.png) !important;
}
.icon-menu-1-11 {
	background-image: url(../icon/menu/1/11.png) !important;
}
.icon-menu-1-12 {
	background-image: url(../icon/menu/1/12.png) !important;
}
.icon-menu-1-13 {
	background-image: url(../icon/menu/1/13.png) !important;
}
.icon-menu-1-14 {
	background-image: url(../icon/menu/1/14.png) !important;
}
.icon-menu-1-15 {
	background-image: url(../icon/menu/1/15.png) !important;
}
.icon-menu-1-16 {
	background-image: url(../icon/menu/1/16.png) !important;
}
.icon-menu-1-17 {
	background-image: url(../icon/menu/1/17.png) !important;
}
.icon-menu-1-18 {
	background-image: url(../icon/menu/1/18.png) !important;
}
.icon-menu-1-19 {
	background-image: url(../icon/menu/1/19.png) !important;
}
.icon-menu-1-2 {
	background-image: url(../icon/menu/1/2.png) !important;
}
.icon-menu-1-20 {
	background-image: url(../icon/menu/1/20.png) !important;
}
.icon-menu-1-3 {
	background-image: url(../icon/menu/1/3.png) !important;
}
.icon-menu-1-4 {
	background-image: url(../icon/menu/1/4.png) !important;
}
.icon-menu-1-5 {
	background-image: url(../icon/menu/1/5.png) !important;
}
.icon-menu-1-6 {
	background-image: url(../icon/menu/1/6.png) !important;
}
.icon-menu-1-7 {
	background-image: url(../icon/menu/1/7.png) !important;
}
.icon-menu-1-8 {
	background-image: url(../icon/menu/1/8.png) !important;
}
.icon-menu-1-9 {
	background-image: url(../icon/menu/1/9.png) !important;
}
.icon-menu-2-1 {
	background-image: url(../icon/menu/2/1.png) !important;
}
.icon-menu-2-10 {
	background-image: url(../icon/menu/2/10.png) !important;
}
.icon-menu-2-11 {
	background-image: url(../icon/menu/2/11.png) !important;
}
.icon-menu-2-12 {
	background-image: url(../icon/menu/2/12.png) !important;
}
.icon-menu-2-13 {
	background-image: url(../icon/menu/2/13.png) !important;
}
.icon-menu-2-14 {
	background-image: url(../icon/menu/2/14.png) !important;
}
.icon-menu-2-15 {
	background-image: url(../icon/menu/2/15.png) !important;
}
.icon-menu-2-16 {
	background-image: url(../icon/menu/2/16.png) !important;
}
.icon-menu-2-17 {
	background-image: url(../icon/menu/2/17.png) !important;
}
.icon-menu-2-18 {
	background-image: url(../icon/menu/2/18.png) !important;
}
.icon-menu-2-19 {
	background-image: url(../icon/menu/2/19.png) !important;
}
.icon-menu-2-2 {
	background-image: url(../icon/menu/2/2.png) !important;
}
.icon-menu-2-20 {
	background-image: url(../icon/menu/2/20.png) !important;
}
.icon-menu-2-3 {
	background-image: url(../icon/menu/2/3.png) !important;
}
.icon-menu-2-4 {
	background-image: url(../icon/menu/2/4.png) !important;
}
.icon-menu-2-5 {
	background-image: url(../icon/menu/2/5.png) !important;
}
.icon-menu-2-6 {
	background-image: url(../icon/menu/2/6.png) !important;
}
.icon-menu-2-7 {
	background-image: url(../icon/menu/2/7.png) !important;
}
.icon-menu-2-8 {
	background-image: url(../icon/menu/2/8.png) !important;
}
.icon-menu-2-9 {
	background-image: url(../icon/menu/2/9.png) !important;
}
.icon-module-Archive {
	background-image: url(../icon/module/Archive.jpg) !important;
}
.icon-module-ArchiveChange {
	background-image: url(../icon/module/ArchiveChange.jpg) !important;
}
.icon-module-ArchiveDestroy {
	background-image: url(../icon/module/ArchiveDestroy.jpg) !important;
}
.icon-module-ArchiveEnregister {
	background-image: url(../icon/module/ArchiveEnregister.jpg) !important;
}
.icon-module-ArchiveLogout {
	background-image: url(../icon/module/ArchiveLogout.jpg) !important;
}
.icon-module-ArchiveSele {
	background-image: url(../icon/module/ArchiveSele.jpg) !important;
}
.icon-module-blue {
	background-image: url(../icon/module/blue.jpg) !important;
}
.icon-module-Borrow {
	background-image: url(../icon/module/Borrow.jpg) !important;
}
.icon-module-da6g {
	background-image: url(../icon/module/da6g.png) !important;
}
.icon-module-Statistics {
	background-image: url(../icon/module/Statistics.jpg) !important;
}
.icon-module-VirtualHouse {
	background-image: url(../icon/module/VirtualHouse.jpg) !important;
}
.icon-module-xnkfg {
	background-image: url(../icon/module/xnkfg.png) !important;
}
.icon-portal-administrator {
	background-image: url(../icon/portal/administrator.gif) !important;
}
.icon-portal-closeall {
	background-image: url(../icon/portal/closeall.gif) !important;
}
.icon-portal-default {
	background-image: url(../icon/portal/default.gif) !important;
}
.icon-portal-desktop {
	background-image: url(../icon/portal/desktop.gif) !important;
}
.icon-portal-desktopui {
	background-image: url(../icon/portal/desktopui.gif) !important;
}
.icon-portal-exit {
	background-image: url(../icon/portal/exit.png) !important;
}
.icon-portal-function {
	background-image: url(../icon/portal/function.gif) !important;
}
.icon-portal-help {
	background-image: url(../icon/portal/help.gif) !important;
}
.icon-portal-jianpan {
	background-image: url(../icon/portal/jianpan.png) !important;
}
.icon-portal-menu-appman-appman {
	background-image: url(../icon/portal/menu/appman/appman.png) !important;
}
.icon-portal-menu-appman-deskman {
	background-image: url(../icon/portal/menu/appman/deskman.png) !important;
}
.icon-portal-menu-appman-onlineuser {
	background-image: url(../icon/portal/menu/appman/onlineuser.png) !important;
}
.icon-portal-menu-appman-passman {
	background-image: url(../icon/portal/menu/appman/passman.png) !important;
}
.icon-portal-menu-appman-saveportal {
	background-image: url(../icon/portal/menu/appman/saveportal.png) !important;
}
.icon-portal-menu-appman {
	background-image: url(../icon/portal/menu/appman.png) !important;
}
.icon-portal-menu-busapp-bzf {
	background-image: url(../icon/portal/menu/busapp/bzf.png) !important;
}
.icon-portal-menu-busapp-dbyw {
	background-image: url(../icon/portal/menu/busapp/dbyw.png) !important;
}
.icon-portal-menu-busapp-dzda {
	background-image: url(../icon/portal/menu/busapp/dzda.png) !important;
}
.icon-portal-menu-busapp-fgzj {
	background-image: url(../icon/portal/menu/busapp/fgzj.png) !important;
}
.icon-portal-menu-busapp-gd {
	background-image: url(../icon/portal/menu/busapp/gd.png) !important;
}
.icon-portal-menu-busapp-gj {
	background-image: url(../icon/portal/menu/busapp/gj.png) !important;
}
.icon-portal-menu-busapp-wxzj {
	background-image: url(../icon/portal/menu/busapp/wxzj.png) !important;
}
.icon-portal-menu-busapp-xmdk {
	background-image: url(../icon/portal/menu/busapp/xmdk.png) !important;
}
.icon-portal-menu-busapp-xzzf {
	background-image: url(../icon/portal/menu/busapp/xzzf.png) !important;
}
.icon-portal-menu-busapp-zfbt {
	background-image: url(../icon/portal/menu/busapp/zfbt.png) !important;
}
.icon-portal-menu-busapp {
	background-image: url(../icon/portal/menu/busapp.png) !important;
}
.icon-portal-menu-chat {
	background-image: url(../icon/portal/menu/chat.png) !important;
}
.icon-portal-menu-desktop {
	background-image: url(../icon/portal/menu/desktop.png) !important;
}
.icon-portal-menu-exit {
	background-image: url(../icon/portal/menu/exit.png) !important;
}
.icon-portal-menu-fin-cw {
	background-image: url(../icon/portal/menu/fin/cw.png) !important;
}
.icon-portal-menu-fin-zj {
	background-image: url(../icon/portal/menu/fin/zj.png) !important;
}
.icon-portal-menu-fin {
	background-image: url(../icon/portal/menu/fin.png) !important;
}
.icon-portal-menu-livepage-closeall {
	background-image: url(../icon/portal/menu/livepage/closeall.png) !important;
}
.icon-portal-menu-livepage {
	background-image: url(../icon/portal/menu/livepage.png) !important;
}
.icon-portal-menu-monman-fxgk {
	background-image: url(../icon/portal/menu/monman/fxgk.png) !important;
}
.icon-portal-menu-monman-jdgl {
	background-image: url(../icon/portal/menu/monman/jdgl.png) !important;
}
.icon-portal-menu-monman-nbsj {
	background-image: url(../icon/portal/menu/monman/nbsj.png) !important;
}
.icon-portal-menu-monman {
	background-image: url(../icon/portal/menu/monman.png) !important;
}
.icon-portal-menu-orgman-analyse {
	background-image: url(../icon/portal/menu/orgman/analyse.png) !important;
}
.icon-portal-menu-orgman-log {
	background-image: url(../icon/portal/menu/orgman/log.png) !important;
}
.icon-portal-menu-orgman-oa {
	background-image: url(../icon/portal/menu/orgman/oa.png) !important;
}
.icon-portal-menu-orgman-org {
	background-image: url(../icon/portal/menu/orgman/org.png) !important;
}
.icon-portal-menu-orgman-perf {
	background-image: url(../icon/portal/menu/orgman/perf.png) !important;
}
.icon-portal-menu-orgman-person {
	background-image: url(../icon/portal/menu/orgman/person.png) !important;
}
.icon-portal-menu-orgman-proj {
	background-image: url(../icon/portal/menu/orgman/proj.png) !important;
}
.icon-portal-menu-orgman-task {
	background-image: url(../icon/portal/menu/orgman/task.png) !important;
}
.icon-portal-menu-orgman {
	background-image: url(../icon/portal/menu/orgman.png) !important;
}
.icon-portal-menu-service-call {
	background-image: url(../icon/portal/menu/service/call.png) !important;
}
.icon-portal-menu-service-crm {
	background-image: url(../icon/portal/menu/service/crm.png) !important;
}
.icon-portal-menu-service-exp {
	background-image: url(../icon/portal/menu/service/exp.png) !important;
}
.icon-portal-menu-service-net {
	background-image: url(../icon/portal/menu/service/net.png) !important;
}
.icon-portal-menu-service-sms {
	background-image: url(../icon/portal/menu/service/sms.png) !important;
}
.icon-portal-menu-service {
	background-image: url(../icon/portal/menu/service.png) !important;
}
.icon-portal-menu-sysconf-code {
	background-image: url(../icon/portal/menu/sysconf/code.png) !important;
}
.icon-portal-menu-sysconf-config {
	background-image: url(../icon/portal/menu/sysconf/config.png) !important;
}
.icon-portal-menu-sysconf-datadic {
	background-image: url(../icon/portal/menu/sysconf/datadic.png) !important;
}
.icon-portal-menu-sysconf-file {
	background-image: url(../icon/portal/menu/sysconf/file.png) !important;
}
.icon-portal-menu-sysconf-message {
	background-image: url(../icon/portal/menu/sysconf/message.png) !important;
}
.icon-portal-menu-sysconf-monitor {
	background-image: url(../icon/portal/menu/sysconf/monitor.png) !important;
}
.icon-portal-menu-sysconf-process {
	background-image: url(../icon/portal/menu/sysconf/process.png) !important;
}
.icon-portal-menu-sysconf-report {
	background-image: url(../icon/portal/menu/sysconf/report.png) !important;
}
.icon-portal-menu-sysconf-todo {
	background-image: url(../icon/portal/menu/sysconf/todo.png) !important;
}
.icon-portal-menu-sysconf-usermanager {
	background-image: url(../icon/portal/menu/sysconf/usermanager.png) !important;
}
.icon-portal-menu-sysconf {
	background-image: url(../icon/portal/menu/sysconf.png) !important;
}
.icon-portal-menu-workdesk {
	background-image: url(../icon/portal/menu/workdesk.png) !important;
}
.icon-portal-password {
	background-image: url(../icon/portal/password.png) !important;
}
.icon-portal-portal {
	background-image: url(../icon/portal/portal.png) !important;
}
.icon-portal-preference {
	background-image: url(../icon/portal/preference.gif) !important;
}
.icon-portal-quickstart {
	background-image: url(../icon/portal/quickstart.gif) !important;
}
.icon-portal-shortcut {
	background-image: url(../icon/portal/shortcut.png) !important;
}
.icon-portal-subject {
	background-image: url(../icon/portal/subject.gif) !important;
}
.icon-portal-todo {
	background-image: url(../icon/portal/todo.png) !important;
}
.icon-portal-windows {
	background-image: url(../icon/portal/windows.gif) !important;
}
.icon-sys-0shortcutdocument48 {
	background-image: url(../icon/sys/0shortcutdocument48.png) !important;
}
.icon-sys-0shortcutfolder48 {
	background-image: url(../icon/sys/0shortcutfolder48.png) !important;
}
.icon-sys-0shortcutmenu48 {
	background-image: url(../icon/sys/0shortcutmenu48.png) !important;
}
.icon-sys-0shortcutsys48 {
	background-image: url(../icon/sys/0shortcutsys48.png) !important;
}
.icon-sys-about {
	background-image: url(../icon/sys/about.png) !important;
}
.icon-sys-active {
	background-image: url(../icon/sys/active.gif) !important;
}
.icon-sys-add {
	background-image: url(../icon/sys/add.png) !important;
}
.icon-sys-add48 {
	background-image: url(../icon/sys/add48.gif) !important;
}
.icon-sys-agreeborrowing {
	background-image: url(../icon/sys/agreeborrowing.gif) !important;
}
.icon-sys-alert {
	background-image: url(../icon/sys/alert.gif) !important;
}
.icon-sys-allusers {
	background-image: url(../icon/sys/allusers.png) !important;
}
.icon-sys-applicationborrow {
	background-image: url(../icon/sys/applicationborrow.gif) !important;
}
.icon-sys-aquery {
	background-image: url(../icon/sys/aquery.png) !important;
}
.icon-sys-arrow_up {
	background-image: url(../icon/sys/arrow_up.png) !important;
}
.icon-sys-attachment {
	background-image: url(../icon/sys/attachment.png) !important;
}
.icon-sys-background {
	background-image: url(../icon/sys/background.png) !important;
}
.icon-sys-bind {
	background-image: url(../icon/sys/bind.gif) !important;
}
.icon-sys-book {
	background-image: url(../icon/sys/book.gif) !important;
}
.icon-sys-borrow {
	background-image: url(../icon/sys/borrow.png) !important;
}
.icon-sys-borrow2 {
	background-image: url(../icon/sys/borrow2.png) !important;
}
.icon-sys-btnactive {
	background-image: url(../icon/sys/btnactive.gif) !important;
}
.icon-sys-btnadd {
	background-image: url(../icon/sys/btnadd.png) !important;
}
.icon-sys-btnapply {
	background-image: url(../icon/sys/btnapply.png) !important;
}
.icon-sys-btnback {
	background-image: url(../icon/sys/btnback.gif) !important;
}
.icon-sys-btnbind {
	background-image: url(../icon/sys/btnbind.gif) !important;
}
.icon-sys-btnbuild {
	background-image: url(../icon/sys/btnbuild.png) !important;
}
.icon-sys-btncancel {
	background-image: url(../icon/sys/btncancel.png) !important;
}
.icon-sys-btnclose {
	background-image: url(../icon/sys/btnclose.png) !important;
}
.icon-sys-btnconfirm {
	background-image: url(../icon/sys/btnconfirm.png) !important;
}
.icon-sys-btndelete {
	background-image: url(../icon/sys/btndelete.gif) !important;
}
.icon-sys-btndownload {
	background-image: url(../icon/sys/btndownload.gif) !important;
}
.icon-sys-btnedit {
	background-image: url(../icon/sys/btnedit.png) !important;
}
.icon-sys-btnexport {
	background-image: url(../icon/sys/btnexport.png) !important;
}
.icon-sys-btnimport {
	background-image: url(../icon/sys/btnimport.png) !important;
}
.icon-sys-btninfo {
	background-image: url(../icon/sys/btninfo.gif) !important;
}
.icon-sys-btnlist {
	background-image: url(../icon/sys/btnlist.png) !important;
}
.icon-sys-btnmovedown {
	background-image: url(../icon/sys/btnmovedown.gif) !important;
}
.icon-sys-btnmoveup {
	background-image: url(../icon/sys/btnmoveup.gif) !important;
}
.icon-sys-btnnext {
	background-image: url(../icon/sys/btnnext.gif) !important;
}
.icon-sys-btnopen {
	background-image: url(../icon/sys/btnopen.gif) !important;
}
.icon-sys-btnpreview {
	background-image: url(../icon/sys/btnpreview.gif) !important;
}
.icon-sys-btnrefresh {
	background-image: url(../icon/sys/btnrefresh.png) !important;
}
.icon-sys-btnremove {
	background-image: url(../icon/sys/btnremove.gif) !important;
}
.icon-sys-btnremove {
	background-image: url(../icon/sys/btnremove.png) !important;
}
.icon-sys-btnrun {
	background-image: url(../icon/sys/btnrun.png) !important;
}
.icon-sys-btnsave {
	background-image: url(../icon/sys/btnsave.png) !important;
}
.icon-sys-btnsubmit {
	background-image: url(../icon/sys/btnsubmit.png) !important;
}
.icon-sys-btnupload {
	background-image: url(../icon/sys/btnupload.gif) !important;
}
.icon-sys-build {
	background-image: url(../icon/sys/build.png) !important;
}
.icon-sys-build24 {
	background-image: url(../icon/sys/build24.png) !important;
}
.icon-sys-cancel {
	background-image: url(../icon/sys/cancel.png) !important;
}
.icon-sys-cancellation {
	background-image: url(../icon/sys/cancellation.gif) !important;
}
.icon-sys-close {
	background-image: url(../icon/sys/close.png) !important;
}
.icon-sys-closeall {
	background-image: url(../icon/sys/closeall.gif) !important;
}
.icon-sys-configration {
	background-image: url(../icon/sys/configration.gif) !important;
}
.icon-sys-confirm {
	background-image: url(../icon/sys/confirm.png) !important;
}
.icon-sys-copy {
	background-image: url(../icon/sys/copy.png) !important;
}
.icon-sys-create {
	background-image: url(../icon/sys/create.png) !important;
}
.icon-sys-create24 {
	background-image: url(../icon/sys/create24.png) !important;
}
.icon-sys-default {
	background-image: url(../icon/sys/default.gif) !important;
}
.icon-sys-delete {
	background-image: url(../icon/sys/delete.gif) !important;
}
.icon-sys-deletebutton {
	background-image: url(../icon/sys/deletebutton.gif) !important;
}
.icon-sys-dept {
	background-image: url(../icon/sys/dept.gif) !important;
}
.icon-sys-designtool {
	background-image: url(../icon/sys/designtool.gif) !important;
}
.icon-sys-designtool48 {
	background-image: url(../icon/sys/designtool48.gif) !important;
}
.icon-sys-desktop {
	background-image: url(../icon/sys/desktop.gif) !important;
}
.icon-sys-desktop24 {
	background-image: url(../icon/sys/desktop24.png) !important;
}
.icon-sys-desktopui {
	background-image: url(../icon/sys/desktopui.gif) !important;
}
.icon-sys-destroyed {
	background-image: url(../icon/sys/destroyed.gif) !important;
}
.icon-sys-dictionary {
	background-image: url(../icon/sys/dictionary.gif) !important;
}
.icon-sys-dictionarydata {
	background-image: url(../icon/sys/dictionarydata.gif) !important;
}
.icon-sys-doc {
	background-image: url(../icon/sys/doc.gif) !important;
}
.icon-sys-documnet48 {
	background-image: url(../icon/sys/documnet48.png) !important;
}
.icon-sys-down {
	background-image: url(../icon/sys/down.gif) !important;
}
.icon-sys-download {
	background-image: url(../icon/sys/download.gif) !important;
}
.icon-sys-draftfolder {
	background-image: url(../icon/sys/draftfolder.png) !important;
}
.icon-sys-edit {
	background-image: url(../icon/sys/edit.png) !important;
}
.icon-sys-empty {
	background-image: url(../icon/sys/empty.gif) !important;
}
.icon-sys-empty24 {
	background-image: url(../icon/sys/empty24.gif) !important;
}
.icon-sys-exit {
	background-image: url(../icon/sys/exit.png) !important;
}
.icon-sys-exit24 {
	background-image: url(../icon/sys/exit24.png) !important;
}
.icon-sys-explorer {
	background-image: url(../icon/sys/explorer.png) !important;
}
.icon-sys-export {
	background-image: url(../icon/sys/export.png) !important;
}
.icon-sys-favoriteoff {
	background-image: url(../icon/sys/favoriteoff.png) !important;
}
.icon-sys-favoriteon {
	background-image: url(../icon/sys/favoriteon.png) !important;
}
.icon-sys-filelist {
	background-image: url(../icon/sys/filelist.gif) !important;
}
.icon-sys-flow-archive {
	background-image: url(../icon/sys/flow/archive.png) !important;
}
.icon-sys-flow-assistover {
	background-image: url(../icon/sys/flow/assistover.png) !important;
}
.icon-sys-flow-flow {
	background-image: url(../icon/sys/flow/flow.png) !important;
}
.icon-sys-flow-forward {
	background-image: url(../icon/sys/flow/forward.png) !important;
}
.icon-sys-flow-guide {
	background-image: url(../icon/sys/flow/guide.gif) !important;
}
.icon-sys-flow-opinion {
	background-image: url(../icon/sys/flow/opinion.png) !important;
}
.icon-sys-flow-processover {
	background-image: url(../icon/sys/flow/processover.png) !important;
}
.icon-sys-flow-readover {
	background-image: url(../icon/sys/flow/readover.png) !important;
}
.icon-sys-flow-request {
	background-image: url(../icon/sys/flow/request.png) !important;
}
.icon-sys-flow-resume {
	background-image: url(../icon/sys/flow/resume.png) !important;
}
.icon-sys-flow-stop {
	background-image: url(../icon/sys/flow/stop.png) !important;
}
.icon-sys-flow-takeback {
	background-image: url(../icon/sys/flow/takeback.png) !important;
}
.icon-sys-flow-turnback {
	background-image: url(../icon/sys/flow/turnback.png) !important;
}
.icon-sys-folder {
	background-image: url(../icon/sys/folder.gif) !important;
}
.icon-sys-folder48 {
	background-image: url(../icon/sys/folder48.png) !important;
}
.icon-sys-function {
	background-image: url(../icon/sys/function.gif) !important;
}
.icon-sys-function24 {
	background-image: url(../icon/sys/function24.png) !important;
}
.icon-sys-getkey {
	background-image: url(../icon/sys/getkey.gif) !important;
}
.icon-sys-handover {
	background-image: url(../icon/sys/handover.png) !important;
}
.icon-sys-help {
	background-image: url(../icon/sys/help.gif) !important;
}
.icon-sys-help24 {
	background-image: url(../icon/sys/help24.png) !important;
}
.icon-sys-help48 {
	background-image: url(../icon/sys/help48.gif) !important;
}
.icon-sys-home {
	background-image: url(../icon/sys/home.png) !important;
}
.icon-sys-import {
	background-image: url(../icon/sys/import.png) !important;
}
.icon-sys-info {
	background-image: url(../icon/sys/info.gif) !important;
}
.icon-sys-list {
	background-image: url(../icon/sys/list.png) !important;
}
.icon-sys-list24 {
	background-image: url(../icon/sys/list24.png) !important;
}
.icon-sys-logo {
	background-image: url(../icon/sys/logo.png) !important;
}
.icon-sys-menu {
	background-image: url(../icon/sys/menu.gif) !important;
}
.icon-sys-menu48 {
	background-image: url(../icon/sys/menu48.png) !important;
}
.icon-sys-modulemenu {
	background-image: url(../icon/sys/modulemenu.png) !important;
}
.icon-sys-modulerole {
	background-image: url(../icon/sys/modulerole.gif) !important;
}
.icon-sys-movedown {
	background-image: url(../icon/sys/movedown.gif) !important;
}
.icon-sys-moveup {
	background-image: url(../icon/sys/moveup.gif) !important;
}
.icon-sys-myfolder {
	background-image: url(../icon/sys/myfolder.gif) !important;
}
.icon-sys-m_leader {
	background-image: url(../icon/sys/m_leader.png) !important;
}
.icon-sys-m_leader_busy {
	background-image: url(../icon/sys/m_leader_busy.png) !important;
}
.icon-sys-m_leader_flash {
	background-image: url(../icon/sys/m_leader_flash.gif) !important;
}
.icon-sys-m_org {
	background-image: url(../icon/sys/m_org.png) !important;
}
.icon-sys-m_org_flash {
	background-image: url(../icon/sys/m_org_flash.gif) !important;
}
.icon-sys-m_user {
	background-image: url(../icon/sys/m_user.png) !important;
}
.icon-sys-m_user_busy {
	background-image: url(../icon/sys/m_user_busy.png) !important;
}
.icon-sys-m_user_flash {
	background-image: url(../icon/sys/m_user_flash.gif) !important;
}
.icon-sys-m_user_off {
	background-image: url(../icon/sys/m_user_off.png) !important;
}
.icon-sys-next {
	background-image: url(../icon/sys/next.gif) !important;
}
.icon-sys-none {
	background-image: url(../icon/sys/none.png) !important;
}
.icon-sys-open {
	background-image: url(../icon/sys/open.gif) !important;
}
.icon-sys-organization {
	background-image: url(../icon/sys/organization.gif) !important;
}
.icon-sys-organizationchart {
	background-image: url(../icon/sys/organizationchart.png) !important;
}
.icon-sys-password {
	background-image: url(../icon/sys/password.png) !important;
}
.icon-sys-paste {
	background-image: url(../icon/sys/paste.gif) !important;
}
.icon-sys-portal {
	background-image: url(../icon/sys/portal.png) !important;
}
.icon-sys-preference {
	background-image: url(../icon/sys/preference.gif) !important;
}
.icon-sys-preference48 {
	background-image: url(../icon/sys/preference48.gif) !important;
}
.icon-sys-prefile (2) {
	background-image: url(../icon/sys/prefile (2).png) !important;
}
.icon-sys-prefile {
	background-image: url(../icon/sys/prefile.png) !important;
}
.icon-sys-preview {
	background-image: url(../icon/sys/preview.gif) !important;
}
.icon-sys-previous {
	background-image: url(../icon/sys/previous.gif) !important;
}
.icon-sys-print {
	background-image: url(../icon/sys/print.png) !important;
}
.icon-sys-print1 {
	background-image: url(../icon/sys/print1.png) !important;
}
.icon-sys-print2 {
	background-image: url(../icon/sys/print2.png) !important;
}
.icon-sys-query {
	background-image: url(../icon/sys/query.png) !important;
}
.icon-sys-quickstart {
	background-image: url(../icon/sys/quickstart.gif) !important;
}
.icon-sys-quote {
	background-image: url(../icon/sys/quote.gif) !important;
}
.icon-sys-refresh {
	background-image: url(../icon/sys/refresh.png) !important;
}
.icon-sys-remove {
	background-image: url(../icon/sys/remove.gif) !important;
}
.icon-sys-resetpassword {
	background-image: url(../icon/sys/resetpassword.png) !important;
}
.icon-sys-return {
	background-image: url(../icon/sys/return.gif) !important;
}
.icon-sys-returnfile {
	background-image: url(../icon/sys/returnfile.png) !important;
}
.icon-sys-role {
	background-image: url(../icon/sys/role.gif) !important;
}
.icon-sys-run {
	background-image: url(../icon/sys/run.png) !important;
}
.icon-sys-save {
	background-image: url(../icon/sys/save.png) !important;
}
.icon-sys-scanning {
	background-image: url(../icon/sys/scanning.png) !important;
}
.icon-sys-setting {
	background-image: url(../icon/sys/setting.png) !important;
}
.icon-sys-share {
	background-image: url(../icon/sys/share.gif) !important;
}
.icon-sys-share24 {
	background-image: url(../icon/sys/share24.gif) !important;
}
.icon-sys-shortcut {
	background-image: url(../icon/sys/shortcut.png) !important;
}
.icon-sys-stat {
	background-image: url(../icon/sys/stat.gif) !important;
}
.icon-sys-subject {
	background-image: url(../icon/sys/subject.gif) !important;
}
.icon-sys-submit {
	background-image: url(../icon/sys/submit.png) !important;
}
.icon-sys-synchro {
	background-image: url(../icon/sys/synchro.png) !important;
}
.icon-sys-unagreeborrowing {
	background-image: url(../icon/sys/unagreeborrowing.gif) !important;
}
.icon-sys-up {
	background-image: url(../icon/sys/up.gif) !important;
}
.icon-sys-upload {
	background-image: url(../icon/sys/upload.gif) !important;
}
.icon-sys-url {
	background-image: url(../icon/sys/url.png) !important;
}
.icon-sys-useout {
	background-image: url(../icon/sys/useout.png) !important;
}
.icon-sys-user {
	background-image: url(../icon/sys/user.gif) !important;
}
.icon-sys-viewbutton {
	background-image: url(../icon/sys/viewbutton.gif) !important;
}
.icon-sys-windows {
	background-image: url(../icon/sys/windows.gif) !important;
}
.icon-sys-windows24 {
	background-image: url(../icon/sys/windows24.gif) !important;
}
.icon-sys-workrequest {
	background-image: url(../icon/sys/workrequest.png) !important;
}
