@charset "utf-8";

/*=========================全局样式===========================*/
body { Tahoma,Arial, Helvetica, sans-serif; margin:0px; padding:0px; font-size:12px; color:#3e3e3e;}
html,body,div,ol,ul,i,li,form,p,h1,h2,h3,h4,h5,h6,dd,dl,dt,span,em{ margin:0; padding:0; border:0;}
div,p,td,th,dt,dd,h1,h2,h3,h4,h5,h6,span,em,i,a{ word-wrap:break-word; word-break:break-all;}
ul,li{ list-style-image: none; list-style-type: none;}
em { font-style:normal;}
img { border:0 none;}
.clear{ clear:both;}

/*======滚动条样式======*/
html{ 
	scrollbar-face-color:#e5e5e5;
	scrollbar-highlight-color:#f8f8f8;
	scrollbar-3dlight-color:#dfdfdf; /*左边线的颜色*/
	scrollbar-darkshadow-color:#f8f8f8;
	scrollbar-shadow-color:#dfdfdf; /*右边线的颜色*/
	scrollbar-arrow-color:#000; /*上下小三角的颜色*/
	scrollbar-track-color:#f8f8f8;
}

/*=========================链接样式============================*/
a,a:visited{ color:#3e3e3e; font-weight:normal; text-decoration:none;}
a:hover,a:active{ color:#009c42; text-decoration:underline;}

/*==========================登录页=============================*/
.login_up{ background:url(../images/login_up.jpg) no-repeat; width:434px; height:93px; margin:0 auto; margin-top:124px; overflow:hidden;}
.login_down{ background:url(../images/login_down.jpg) no-repeat; width:434px; height:230px; margin:0 auto; overflow:hidden;}
.login_down .bd{ width:280px; padding-top:35px; padding-top:25px\0;  padding-left:76px;}  /*2011.2.26修改hy*/
.login_down .bd ul{ list-style:none; padding:0px; margin:0px;}
.login_down .bd ul li{ line-height:22px; vertical-align:bottom;  margin-top:10px;  margin-top:12px\0; overflow:hidden;}

.bd_left{ float:left; width:67px; text-align:left; color:#000;}
.bd_right{ float:left; width:195px; text-align:left;}


.input1{ border-top:1px solid #afafaf; border-left:1px solid #afafaf; border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4; height:18px; padding-left:5px; font-size:12px; background:url(../images/bdbg.jpg) repeat-x top;}
.login_btn{ background:url(../images/login_btn.jpg) no-repeat; width:81px; height:31px; text-align:center; line-height:31px; font-size:12px; color:#000; border:none; cursor:pointer;}
.login_btn a,.login_btn a:visited{ display:block; width:81px; height:31px; line-height:31px; color:#000; text-decoration:none;}
.login_btn a:hover{ display:block; width:81px; height:31px; color:#fff; text-decoration:none; background:url(../images/login_btn_hover.jpg) no-repeat; line-height:31px;}

.txt_space{ letter-spacing:0.3em;}

/*=======================内页样式===============================*/

/*=========top===========*/
.top{ background:url(../images/topbg.jpg) repeat-x; width:100%; height:75px; position:relative;}
.logo{ background:url(../images/top_rimg.jpg) no-repeat right top; height:75px;}
.logo img{ display:block;}

.r_txt{ float:right; position:absolute; right:15px; top:20px; line-height:24px; color:#fff;}
.r_txt a,.r_txt a:visited{ color:#fff; text-decoration:none;}
.r_txt a:hover{ color:#fff; text-decoration:underline;}

.nav{ background:url(../images/navbg.jpg) repeat-x; width:100%; height:29px; line-height:29px; overflow:hidden;}

.nav .home_link{ float:left; width:150px; height:29px; line-height:30px; color:#000; padding-left:10px; text-align:left;} /*2011.2.26新增hy*/
.nav .home_link img{ float:left; padding-top:7px; padding-right:5px;}/*2011.2.26新增hy*/
.nav .role{ float:right; width:350px; height:29px; line-height:29px; color:#000; padding-left:10px; text-align:left;} /*2011.2.26修改hy*/
.nav .role img{ float:left; padding-top:5px; padding-right:5px;} /*2011.2.26修改hy*/
.nav .line{ float:left; background:url(../images/nav_lline.jpg) no-repeat; width:2px; height:29px; overflow:hidden; margin-left:10px;}
.nav .navlist{ float:left; width:450px; height:29px; text-align:left; overflow:hidden;}
.nav .navlist ul{ list-style:none; padding:0px; margin:0px;}
/*.nav .navlist ul li{ float:left; width:146px; height:29px; background:url(../images/nav_line.jpg) no-repeat right; font-size:14px; font-weight:bold; color:#000; text-align:center; vertical-align:bottom;}
.nav .navlist ul li a,.nav .navlist ul li a:visited{ display:block; width:146px; height:29px; background:url(../images/nav_line.jpg) no-repeat right; font-weight:bold; color:#000; text-decoration:none;}
.nav .navlist ul li a:hover{ display:block; width:146px; height:29px; background:url(../images/nav_hover.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}
.nav .navlist ul li span{ display:block; width:146px; height:29px; background:url(../images/nav_hover.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}
.nav .navlist ul li span a{ display:block; width:146px; height:29px; background:url(../images/nav_hover.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}*/

/*2011.1.24hy修改*/
.nav .navlist ul li{ float:left; width:136px; height:29px; background:url(../images/nav.jpg) no-repeat right; font-size:14px; font-weight:bold; color:#000; text-align:center; vertical-align:bottom;}
.nav .navlist ul li a,.nav .navlist ul li a:visited{ display:block; width:136px; height:29px; background:url(../images/nav.jpg) no-repeat right; font-weight:bold; color:#000; text-decoration:none;}
.nav .navlist ul li a:hover{ display:block; width:136px; height:29px; background:url(../images/nav_h.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}
.nav .navlist ul li span{ display:block; width:136px; height:29px; background:url(../images/nav_h.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}
.nav .navlist ul li span a{ display:block; width:136px; height:29px; background:url(../images/nav_h.jpg) no-repeat; font-weight:bold; color:#fff; text-decoration:none;}

.nav .exit{ float:right; background:url(../images/exit.jpg) no-repeat; width:69px; height:29px; margin-right:6px;}
.nav .exit a,.nav .exit a:visited{ line-height:29px; color:#2c4fa1; font-weight:bold; padding-left:29px; text-decoration:none;}
.nav .exit a:hover{ color:#2c4fa1; font-weight:bold; text-decoration:underline;}

/*=========left===========*/

.leftbg{ background:url(../images/leftbg.jpg) repeat-y; width:187px; height:100%;}
.left_title{ background:url(../images/le_titlebg.jpg) no-repeat; width:136px; height:40px; line-height:40px; padding-left:40px; font-size:14px; font-weight:bold; color:#fff;}

#container {
	width: 176px;
}
H1 {
	font-size: 13px;
	margin: 0px;
	width: 176px;
	height: 31px;
	line-height: 31px;
	color:#072a52;
	font-weight:normal;
	cursor:pointer;
	position:relative;
}
H1 a,H1 a:visited {
	display: block;
	width: 135px;
	color: #072a52;
	height: 31px;
	text-decoration: none;
	moz-outline-style: none;
	background: url(../images/leftmenu.jpg) no-repeat;
	line-height: 31px;
	text-align: left;
	margin: 0px;
	padding-left: 41px;
	cursor:pointer;
}

H1 a:hover {
	display: block;
	width: 135px;
	color: #000;
	height: 31px;
	text-decoration: none;
	moz-outline-style: none;
	background: url(../images/leftmenu_hover.jpg) no-repeat;
	line-height: 31px;
	text-align: left;
	margin: 0px;
	padding-left: 41px;
}
H1 img{ float:left; position:absolute; left:15px; top:5px; width:16px; height:16px;}

.content{
	width: 176px;
	height: 39px;
}
.MM ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	font-size:12px;
}
.MM li {
	display: block;
	width: 176px;
	font-size:12px;
	color: #000;
	font-weight:normal;
	height: 22px;
	text-decoration: none;
	moz-outline-style: none;
	line-height: 22px;
	text-align: left;
	margin: 0px;
}
.MM {
	width: 176px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
}
.MM a:link,.MM a:visited  {
	display: block;
	width: 136px;
	color: #000;
	font-weight:normal;
	height: 22px;
	text-decoration: none;
	moz-outline-style: none;
	background: url(../images/submenubg.jpg) no-repeat;
	line-height: 22px;
	text-align: left;
	margin: 0px;
	padding-left:40px;
}

.MM a:hover,.MM a:active {
	display: block;
	width: 136px;
	color: #000;
	font-weight:bold;
	height: 22px;
	text-decoration: none;
	moz-outline-style: none;
	line-height: 22px;
	text-align: left;
	margin: 0px;
	padding-left:40px;
} 

/*=========main===========*/
.main{ width:100%;  overflow:hidden;}
.main .upbg{ background:url(../images/mainbg.jpg) repeat-x top; height:3px; overflow:hidden;}
.main .mbox1{ padding:20px; overflow:hidden;}
.main .mbox2{ padding:10px; overflow:hidden;}

/*=========欢迎页===========*/

.box1{ float:left; width:49%;}
.box1 .tt1{ background:url(../images/ttbg1.jpg) repeat-x; height:23px; border:1px solid #d8d8d8; border-bottom:none; color:#072a51; font-size:13px; font-weight:bold; text-align:left; padding-left:12px; line-height:23px;}
.box1 .con1{ border:1px solid #d8d8d8; padding:10px 10px 20px; background-color:#f7f7f7;}
.box1 .con1 ul{ list-style:none; padding:0px; margin:0px; width:90%; margin:0 auto;}
.box1 .con1 ul li{ height:24px; border-bottom:1px solid #e3e3e3; text-align:left; line-height:24px; vertical-align:bottom; padding-left:10px; padding-right:10px;}
.box1 .con1 ul li.li1{ height:24px; border-bottom:1px dashed #909090; text-align:left; line-height:24px; vertical-align:bottom; padding-top:5px; padding-left:10px; padding-right:10px; margin-bottom:5px;}  /*2011.2.26新增hy*/

.leftlink{ float:left;}
.rightlink{ float:right; color:#777777;}

/*=========查询证书===========*/
.home{ line-height:24px; background:url(../images/ico2.jpg) no-repeat 0px 3px; text-align:left; color:#000; padding-left:23px;}
.subbox1{ border:1px solid #d7d7d7; background-color:#f8f8f8; padding:12px; margin:0 auto;}
.subbox2{ border:1px solid #d7d7d7; background-color:#fafbfc; padding:12px; margin:0 auto;}/*2011.1.24hy新增*/

.table1{
	font-size: 12px;
}
.table1 td{ height:30px; line-height:30px; }
.table1 .td_left{ text-align:left; padding-left:5px;}
.table1 .td_right{ text-align:right; padding-right:5px;}

.table1 th{ line-height:24px; padding-top:10px; text-align:right; padding-right:10px;}
.table1 .td2_left{ text-align:left; padding-left:5px; background-color:#e9e9e9;}
.table1 .td2_right{ text-align:right; padding-right:5px; background-color:#e9e9e9;}

.tt2{ font-size:13px; color:#072a52; font-weight:bold; text-align:left; line-height:24px; padding-top:12px; padding-left:5px; margin:0 auto;}
.btn{ background:url(../images/btnbg.jpg) repeat-x; height:22px; line-height:20px; color:#fff; font-size:12px; text-align:center; border:1px solid #295ba7; cursor:pointer; padding-left:4px; padding-right:4px; padding-left:8px\0; padding-right:8px\0;}
.btn2{ background:url(../images/btnbg3.jpg) repeat-x; height:24px; line-height:22px; color:#fff; font-size:12px; font-weight:bold; text-align:center; border:1px solid #0d387e; cursor:pointer; padding-left:4px; padding-right:4px; padding-left:8px\0; padding-right:8px\0;}/*2011.2.26hy新增*/
.btn3{ background:url(../images/btnbg2.jpg) repeat-x; height:24px; line-height:22px; color:#fff; font-size:12px; font-weight:bold; text-align:center; border:1px solid #01841b; cursor:pointer; padding-left:4px; padding-right:4px; padding-left:8px\0; padding-right:8px\0;}/*2011.2.26hy新增*/

.table2{ border-top:1px solid #c9c9c9; border-right:1px solid #c9c9c9;}
.table2 th{ border-left:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; background:url(../images/thbg.jpg) repeat-x; height:24px; line-height:24px; color:#072a51; text-align:center; font-weight:normal;}
.table2 td{ border-left:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9;  height:24px; line-height:24px; color:#5b5b5b; text-align:center; }

/*2011.1.24hy新增*/
.table3{ }
/*.table3 td{ border-bottom:1px solid #bcbdbf;  height:28px; line-height:28px; color:#32234a; padding-left:5px;}  2011.03.24lml*/
.table3 td{ border-bottom:1px solid #bcbdbf;  height:28px; line-height:28px;padding-left:5px;}
/*.table3 .td_left{ color:#000; padding-left:20px;}   2011.03.24lml*/
.table3 .td_left{ text-align:left;padding-left:20px;}
.table3 .td_right{ text-align:right;padding-left:20px;}/*2011.3.24lml新增*/
.table3 .td3_left{ text-align:left;padding-left:20px;border-bottom:0px;}
.table3 .td3_right{ text-align:right;padding-left:20px;border-bottom:0px;}/*2011.3.25lml新增*/



.page{ background-color:#f8f8f8; border:1px solid #c9c9c9; border-top:none; overflow:hidden; height:30px; line-height:30px; padding-right:20px; text-align:right; color:#000;}

.green{ color:#009c42;}
.green a,.green a:visited{ color:#009c42; text-decoration:underline;}
.green a:hover{ color:#245daa; text-decoration:underline;}

.red{ color:#ff0000;}
.red a,.red a:visited{ color:#ff0000; text-decoration:none;}
.red a:hover{ color:#ff0000; text-decoration:underline;}

/*2011.1.25hy新增*/
.red16{ color:#ca0707; font-size:16px; font-weight:bold;}
.red16 a,.red a:visited{ color:#ca0707;  font-weight:bold; text-decoration:none;}
.red16 a:hover{ color:#ca0707; text-decoration:underline;}

/*2011.2.26hy修改*/
.blue{ color:#2c4fa1; font-weight:bold;}
.blue a,.blue a:visited{ color:#2c4fa1; text-decoration:none;}
.blue a:hover{ color:#2c4fa1; text-decoration:underline;}

/*2011.1.24hy新增*/
.gray{ color:#1c1c1c; font-weight:bold; text-decoration:underline;}
.gray a,.gray a:visited{ color:#1c1c1c; font-weight:bold; text-decoration:underline;}
.gray a:hover{ color:#00348e; text-decoration:underline;}

/*2011.2.26hy新增*/
.gray2{ color:#8d8d8d;}
.gray2 a,.gray2 a:visited{ color:#8d8d8d; text-decoration:none;}
.gray2 a:hover{ color:#8d8d8d; text-decoration:underline;}

/*2011.1.25hy新增*/
.yes_img{ width:250px; display:block; background:url(../images/yes.jpg) no-repeat 0px 0px; padding-left:40px; padding-top:10px; height:255px;}

/*2011.2.15hy新增*/
.no_img{ width:800px; display:block; background:url(../images/no.jpg) no-repeat 0px 0px; padding-left:40px; padding-top:10px; height:25px;}

/*2011.2.26hy新增*/
.yes_box{ width:240px; text-align:left; color:#2e2e2e; font-size:14px; font-weight:bold; height:70px; line-height:70px; padding-left:65px; margin:0 auto;  margin-top:50px;  position:relative;}
.yes_box .img{ position:absolute; top:0px; left:0px; width:57px; height:54px;}
.err_img{ width:300px; display:block; background:url(../images/error.jpg) no-repeat 0px 0px; padding-left:100px; text-align:left;height:60px; margin:0 auto;}
