@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"微软雅黑","Microsoft YaHei";}
body{ font-size:12px; color:#444; background-color:#e5e5e5;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
img{border:none;}
.clr{ clear:both;}


.top{ background:url(../images/phone_top.jpg) top center no-repeat; height:469px;}
.phone01,
.phone02,
.phone03{width:998px; margin:0 auto; font-size:18px; line-height:32px;color:#7a7a7a;}
.phone01_intro{margin-top:20px; text-indent:2em;}
.phone01_list{ margin-top:30px;}
.phone01_list ul li{ float:left;width:50%; height:260px;}
.list01,.list04{ background-color:#e8ebe4;}
.list02,.list03{ background-color:#d7e8ef;}
.list01_tit{ background:url(../images/phone01_img1.jpg) no-repeat; height:71px; line-height:71px;font-size:28px; padding-left:140px;margin:25px 0 0 30px; color:#fff;}
.list01_text{margin:15px 0 0 30px;width:430px;}
.list02_tit{background:url(../images/phone01_img2.jpg) no-repeat;}
.list03_tit{background:url(../images/phone01_img3.jpg) no-repeat;}
.list04_tit{ font-size:28px;margin:37px 0 0 30px;}
.list04_tit img{ vertical-align:middle; margin-right:20px;}
.list04_main{margin:20px 0 0 30px;}
.list04 a{ margin:8px 8px; display:block; float:left;}

.phone02{margin-top:30px;}
.xsd{ background:url(../images/xsd.jpg) top left no-repeat; height:120px;padding:60px 0 0 30px;}
.xsd ul li{ float:left;margin:0 6px;}
.jzd{ background:url(../images/jzd.jpg) top left no-repeat;margin-top:50px;}

.phone03{margin-top:20px;}
.phone03_text{ margin-top:20px;padding-top:20px;background:url(../images/phone03_bg.jpg) top right no-repeat; height:700px; font-size:14px;}
.phone03_text p{ text-indent:2em;}
.phone03_text p.red{margin-top:20px; font-size:18px; color:#ff0000; text-indent:1.5em;}


.foot{ background-color:#2b93dc; color:#fff; font-size:12px; text-align:center; line-height:24px; padding:20px 0;margin-top:20px;}