<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<!-- 初始化servlet -->
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>servlet.util.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/mytest/test.test</url-pattern>
	</servlet-mapping>
	<!-- 
	<filter>
	<filter-name>extRequestFilter</filter-name>
	<filter-class>lyt.request.filter.RequestDataFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>extRequestFilter</filter-name>
	<url-pattern>*.ext</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>treeRequestFilter</filter-name>
	<filter-class>treemenu.control.TreeRequestFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>treeRequestFilter</filter-name>
	<url-pattern>*.tree</url-pattern>
	</filter-mapping>
	<filter>
	
	<filter-name>basicFilter</filter-name>
	<filter-class>physics.app.control.BasicFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>basicFilter</filter-name>
	<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
	<filter-name>tabPageFilter</filter-name>
	<filter-class>lyt.request.filter.RequestPageFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>tabPageFilter</filter-name>
	<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
