<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://cxf.apache.org/jaxws jaxws.xsd">

	<jaxws:client id="client"
		serviceClass="com.pallasli.study.ws.cxf.HelloWorld"
		address="http://localhost:8080/pallasli-study-ws-cxf/hello">
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
			<bean class="com.pallasli.study.ws.cxf.interceptor.ClientMessageInterceptor">
				<constructor-arg value="receive" />
			</bean>
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<bean class="com.pallasli.study.ws.cxf.interceptor.ClientMessageInterceptor">
				<constructor-arg value="send" />
			</bean>
			<!--<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/> -->
		</jaxws:outInterceptors>

	</jaxws:client>
</beans>  