.aCls {
	color: #1E4176;
}
.aCls:link {
	color: #1E4176;
	text-decoration: none;
}

.aCls:visited {
   color: #1E4176;
	text-decoration: none;
}

.aCls:hover {
	text-decoration: underline;
	color: red;
}

.mixky-titlebar{
	border:0 none;
	background:#1E4176 url(../images/common/hd-bg.gif) repeat-x 0 0;
    font:bold 16px tahoma, arial, ËÎÌå, sans-serif;
    color:white;
}

.mixky-appname{
	padding-left:40px;
	padding-bottom:5px;
	background-image:url(¡£¡£/images/administrator/logo.gif) no-repeat;
    font:bold 17px tahoma, arial, ËÎÌå, sans-serif;
    color:white;
}

.mixky-userinfo{
	padding-right:15px;
    font:bold 11px tahoma, arial, ËÎÌå, sans-serif;
    color:yellow;
}

#mixky-loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#mixky-loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#mixky-loading img {
    margin-bottom:5px;
}
#mixky-loading mixky-loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}

.mixky-grid-row-changed{
	background-color:lightyellow;
}

.mixky-editor-rownumberer-add{
	padding-left:9px;
	background:transparent url(../icon/common/rowadded.png) no-repeat;
}

.mixky-editor-rownumberer-del{
	padding-left:9px;
	background:transparent url(../icon/common/rowdeleted.png) no-repeat;
}

.mixky-editor-rownumberer-edit{
	padding-left:9px;
	background:transparent url(../icon/common/rowchanged.png) no-repeat;
}


.x-icon-alert {
	background-image: url(../images/common/caution.gif) !important;
}
.x-icon-information {
	background-image: url(../images/common/quote.gif) !important;
}
.x-icon-waiting {
	background-image: url(../images/common/hourglass.gif) !important;
}
.x-icon-done {
	background-image: url(../images/common/clock.gif) !important;
}
.x-icon-error {
	background-image: url(../images/common/exclamation.gif) !important;
}