/***流程图样式***/
.Oryx_ShapeMenu .Oryx_MorphItem_disabled {
	font-weight: bold;
	cursor:default;
	opacity:.3;
	-moz-opacity:.3;
	filter:alpha(opacity=30);
	border: 1px solid #000;
}

.Oryx_hover, .Oryx_button:hover {
	background: url(../images/shapemenu_highlight.png) no-repeat 1px 1px;
	opacity: 1 !important;
}

.Oryx_down {
	
}

.Oryx_button img {
	position:relative;
	width:16px;
	height:16px;
	top:1px;
	left:1px;
}

.Oryx_ShapeMenu > .Oryx_Right {
	margin-top:2px;
	margin-left:2px;
	padding-left:0px;
	padding-right:0px;	
}

.Oryx_ShapeMenu > .Oryx_Left {
	border-right-width:2px;
	margin-top:2px;
	margin-left:13px;
	padding-left:0px;
	padding-right:0px;		
}

.Oryx_ShapeMenu > .Oryx_Top {
	border-bottom-width:2px;
	margin-top:13px;
	margin-left:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.Oryx_ShapeMenu > .Oryx_Bottom {
	border-top-width:2px;
	margin-top:2px;
	margin-left:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.Oryx_Right .Oryx_button,
.Oryx_Left .Oryx_button,
.Oryx_Top .Oryx_button,
.Oryx_Bottom .Oryx_button {
	opacity: 0.5;
}

.Oryx_button.x-opacity-0 {
	opacity: 0;
	display:none;
}

.Oryx_button.x-opacity-10 {
	opacity: 0.1;
}

.Oryx_button.x-opacity-20 {
	opacity: 0.2;
}

.Oryx_button.x-opacity-50 {
	opacity: 0.5;
}

.Oryx_Right:hover .Oryx_button,
.Oryx_Left:hover .Oryx_button,
.Oryx_Top:hover .Oryx_button,
.Oryx_Bottom:hover .Oryx_button {
	opacity: 0.7;
	display:block;
}


.Oryx_button img {
	top:1px;
}

.Oryx_Left img {
	top:0px;
}

.Oryx_button {
	width:16px;
	height:16px;
	padding:4px;
	position:absolute;
}

.Oryx_button_with_caption {
	width:inherit;
	height:16px;
	padding:4px;
	position:absolute;
}
/***流程图样式-end***/

/***设计元素库样式******/
/*****分类样式******/
.headerShapeRep, .headerShapeRepChild{
    background:#eee url("editor/images/bg.gif") repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #f1f1f1;
    padding-top:3px;
    padding-bottom:2px;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.x-tree-root-node > .x-tree-node {
	margin-bottom:4px;
}
.headerShapeRep *, .headerShapeRepChild *{
	cursor:default;
}

.headerShapeRepChild {
	font-size:10px;
	height:16px;
	padding-top:0px;
}
.shaperepository .x-tree-node-indent *{
	width:0px;
	position:relative;
	
}

.x-tree-node img.headerShapeRepImg {
    background:none;
	width:0px;
}

.x-tree-ec-icon {
	position:relative;
	top:-2px;
}

.x-tree-node img.ShapeRepEntreeImg, .x-tree-node-leaf img.ShapeRepEntreeImg {
	height:16px;
	width:16px;
	background:none;
	position:relative;
	left:-7px;
	top:-1px;
}

.ShapeRepEntree{
	margin:1px;
	padding:3px 0px;
	border:1px solid #f1f1f1;
	background-color:#f6f6f6;
}

.ShapeRepEntree, .ShapeRepEntree *{
	cursor:move;
	white-space:normal;
}

.ShapeRepEntree:hover {
	border:1px solid #c3daf9;
	background-color:#ddecfe;
}
 
.x-panel-editor-west .x-tree-node .x-tree-elbow-plus,
.x-panel-editor-west .x-tree-node .x-tree-elbow-end-plus {
	background: transparent url(explorer/src/img/signavio/arrows.png) no-repeat scroll 0 -2px;
}

.x-panel-editor-west .x-tree-node .x-tree-elbow-minus,
.x-panel-editor-west .x-tree-node .x-tree-elbow-end-minus {
	background: transparent url(explorer/src/img/signavio/arrows.png) no-repeat scroll -19px -2px;
}

/***设计元素库样式-end******/


/*** Selection Frame ***/

.Oryx_SelectionFrame{
	position:absolute;
	border:1px dotted gray;
	background:none;
}

/************收缩框字体颜色修改*********************/
.x-layout-collapsed svg,
.x-layout-collapsed svg text {
	cursor: pointer;
	fill:black
} 

/************搜索框宽度修改*************/
.x-layout-collapsed{position:absolute;left:-10000px;top:-10000px;visibility:hidden;background-color:#d2e0f2;width:25px;height:20px;overflow:hidden;border:1px solid #98c0f4;z-index:20;}
