
.myHomePage_main{
	margin-top: 30px;
	margin-left:10px; 
	min-height: 400px;
}
.home_header{
	margin-top: 3px;
	margin-bottom: 3px;
	height: 30px;
}


.knowledge_menu{
	float: left;
	width: 20%;
	min-width: 200px;
	height: 100%;
}

.knowledge_main{
	float: left;
	width: 80%;
	min-width: 800px;
	height: 100%;
}