@charset "utf-8";
*{ padding:0; margin:0;}
body{ color:#444; font-family:"Microsoft YaHei","微软雅黑"; background:#e7e7e7;}
ul,ol{ border:none; list-style: outside none none;}
a{text-decoration: none;}
img{ border:none;}
input:focus{ border:1px solid #53acff;}
.header{ width:100%; height:90px; background:#4c8ecb;}
.header .head{ width:1000px; height:90px; margin:0 auto;}
.header .head .logo{ width:384px; height:53px;  float:left; margin-top:18px;}
.header .head h2{ font-size:18px; color:#fff; float:right; font-weight:400; margin-top:35px;}
.zhuce_box{ width:100%; background:#f7f7f7; height:auto; padding:30px 0;}
.zhuce_box .zc_main{ width:999px; height:auto; border:1px solid #d1d1d1; background:#fff; margin:0 auto; }
/*======tab切换头部======*/
.zc_main .tab_top{ width:999px; height:80px; overflow:hidden;}
.zc_main .tab_top li{ width:249px; height:72px; background:#eef6fd; color:#4c8ecb; border-right:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;  float:left; cursor:pointer;}
.zc_main .tab_top li .arrow{ background:none;}
.tab_top li .icon01,.tab_top li .icon02,.tab_top li .icon03,.tab_top li .icon04{ width:30px; height:30px; display:block; margin: 22px 0 0 65px; float:left;}
.tab_top li .icon01{ background:url(../images/zc_icon01_b.png) center no-repeat;}
.tab_top li .icon02{ background:url(../images/zc_icon02_b.png) center no-repeat;}
.tab_top li .icon03{ background:url(../images/zc_icon03_b.png) center no-repeat;}
.tab_top li .icon04{ background:url(../images/zc_icon04_b.png) center no-repeat;}
.zc_main .tab_top li:hover{ background:#559fe3; color:#fff;}
.zc_main .tab_top li.current{ background:#559fe3; position:relative; color:#fff;}
.zc_main .tab_top li.current .arrow{ content:" "; width:16px; height:8px; display:block; background:url(../images/sanjiao.png) 0 no-repeat; position:absolute; bottom:-8px; left:117px; z-index:9;}
.tab_top li:hover .icon01,.tab_top li.current .icon01{ background:url(../images/zc_icon01_w.png) center no-repeat;}
.tab_top li:hover .icon02,.tab_top li.current .icon02{ background:url(../images/zc_icon02_w.png) center no-repeat;}
.tab_top li:hover .icon03,.tab_top li.current .icon03{ background:url(../images/zc_icon03_w.png) center no-repeat;}
.tab_top li:hover .icon04,.tab_top li.current .icon04{ background:url(../images/zc_icon04_w.png) center no-repeat;}
.tab_top li .wenzi{ width:90px; font-size:20px; height:22px; line-height:22px; margin:28px 0 0 10px; float:left;}

/*========切换内容========*/
.register_box{ width:819px; height:auto; padding:35px 80px 60px 100px;}
.register_box li{ width:819px; height:35px; border-bottom:25px; margin-top:25px;}
.register_box li .name{ width:105px; text-align:right; float:left; color:#444; line-height:35px; position:relative; font-size:16px; }
.name span{ color:#dc4242; font-size:20px; position:absolute; top:4px; left:31px;}
.register_box li .input_box{ width:342px;  float:left; padding:0 15px;}
.input_box input,.input_box select{ height:33px;border:1px solid #c7c7c7; line-height:33px; color:#666; font-size:14px; border-radius:2px; font-family:"Microsoft YaHei","微软雅黑";}
.input_box input{ padding:0 5px;}
.input_box select{padding:5px 0 5px 5px; line-height:20px;}
.input_box input:focus,.input_box select:focus{ border:1px solid #53acff;}
.input01{ width:330px;}
.input02{ width:160px; float:left;}
.select01{ width:342px;}
.select02{ width:100px;}
.select03{ width:132px;}
.input_box select option{ height:22px;  font-size:14px; padding-left:5px; padding-top:3px;}
.img_yzm{ width:100px; height:35px; float:left; margin:0 10px;}
.img_yzm img{ width:100px; height:35px;}
.input_box .hyz{ font-size:14px; line-height:35px; color:#006acb;}
.input_box .hyz:hover{ color:#007cee;}

.button_blue,.button_gary{ width:160px; height:36px; line-height:35px; color:#fff; text-align:center; float:left; margin-left:10px; border-radius:2px; cursor:pointer;}
.button_blue{ background:#53acff;}
.button_gary{ background:#c6c6c6;}
.button_blue:hover{ background:#4a9be7;}
.register_box li .tishi{ width:310px; float:left; font-size:14px; line-height:35px;}
.gray{ color:#999;}
.red{ color:#dc4242; padding-left:20px; background:url(../images/icon_error.png) 0 11px no-repeat; box-sizing:border-box;}
.button_zc{ width:342px; height:35px; line-height:35px; text-align:center; color:#fff; background:#f98e25; margin-left:115px; font-size:16px; border-radius:2px; cursor:pointer;}
.button_zc:hover{ background:#ff7e00;}

.foot{ height:55px; line-height:22px; text-align:center; color:#333; font-size:14px; padding-top:20px;}

/*=======注册成功=========*/
.win_top{ width:999px; height:72px; border-bottom:1px solid #d1d1d1; background:#eef6fd; color:#4c8ecb; height:72px; line-height:72px;}
.win_top .tit{ width:150px; color:#4c8ecb; font-size:24px; padding-left:20px;}
.win_top .tit_s{ width:300px; float:right; text-align:right; color:#444; font-size:18px; padding-right:15px;}
.win_main{ width:999px; padding:50px 0;}
.win_tit01{ width:999px; text-align:center; height:44px; line-height:44px; font-size:24px; color:#333; position: relative;}
.win_tit01 .icon_dg{ width:44px; height:44px; position:absolute; top:0; left:335px; background:url(../images/icon_dg.png) no-repeat; display:block;}
.win_tit02{ padding-left:390px; font-size:14px; }
.win_tit02 p{line-height:22px; margin-top:20px;}
.win_tit02 .p_nub1{font-size:16px; line-height:30px;}
.mlf6{ margin-left:-6px;}
.yellow{ color:#f98e25;}
.button_return{ width:160px; height:35px; line-height:35px; background:#f98e25; color:#fff; text-align:center; font-size:14px; display:block; margin-top:20px; border-radius:2px; cursor:pointer;}
.button_return:hover{ background:#ff7e00;}
.win_tit03{ padding-left:315px; line-height:22px; color:#999; font-size:14px; padding-top:30px;}


