<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shineyue.htmldesign.mapper.PageMapper" >
  <resultMap id="BaseResultMap" type="com.shineyue.htmldesign.model.Page" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CAPTION" property="caption" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="SOURCE_NAME" property="sourceName" jdbcType="VARCHAR" />
    <result column="MODULE_ID" property="moduleId" jdbcType="INTEGER" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CAPTION, PATH, ORDER_NUM, SOURCE_NAME, MODULE_ID, VERSION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shineyue.htmldesign.model.PageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_PAGE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_PAGE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shineyue.htmldesign.model.PageExample" >
    delete from T_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shineyue.htmldesign.model.Page" >
    insert into T_PAGE (ID, CAPTION, PATH, 
      ORDER_NUM, SOURCE_NAME, MODULE_ID, 
      VERSION)
    values (#{id,jdbcType=INTEGER}, #{caption,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{sourceName,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shineyue.htmldesign.model.Page" >
    insert into T_PAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="caption != null" >
        CAPTION,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="sourceName != null" >
        SOURCE_NAME,
      </if>
      <if test="moduleId != null" >
        MODULE_ID,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caption != null" >
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="sourceName != null" >
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shineyue.htmldesign.model.PageExample" resultType="java.lang.Integer" >
    select count(*) from T_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_PAGE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.caption != null" >
        CAPTION = #{record.caption,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.sourceName != null" >
        SOURCE_NAME = #{record.sourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        MODULE_ID = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_PAGE
    set ID = #{record.id,jdbcType=INTEGER},
      CAPTION = #{record.caption,jdbcType=VARCHAR},
      PATH = #{record.path,jdbcType=VARCHAR},
      ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      SOURCE_NAME = #{record.sourceName,jdbcType=VARCHAR},
      MODULE_ID = #{record.moduleId,jdbcType=INTEGER},
      VERSION = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shineyue.htmldesign.model.Page" >
    update T_PAGE
    <set >
      <if test="caption != null" >
        CAPTION = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="sourceName != null" >
        SOURCE_NAME = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shineyue.htmldesign.model.Page" >
    update T_PAGE
    set CAPTION = #{caption,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      SOURCE_NAME = #{sourceName,jdbcType=VARCHAR},
      MODULE_ID = #{moduleId,jdbcType=INTEGER},
      VERSION = #{version,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>