@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0; font-family:"微软雅黑";font-weight:normal;text-decoration:none;list-style-type:none;list-style:none;}
a:hover{ text-decoration:none; cursor:pointer;}
body{ background:#fafafa url(../images/bj.jpg) no-repeat top center;}
body img{ border:none;}
ul,ul li{ margin:0;} 
.clr{ margin:0px; padding:0px; clear:both;}
select,input{vertical-align:middle;}
table{ border-collapse:collapse;}
html{overflow-y:scroll; /*background:#ff0;*/}
body{ background:url(../images/home_01.jpg) repeat-x top; height:auto;}
/*header*/
.headertop{ width:960px; margin:0 auto;overflow:hidden;}
.headertop img{ float:left;}
.jiazhang{ float:left; width:700px; margin-top:9px;}
.jiazhang img{margin:15px 5px 0px 0px; display:inline;}
.jiazhang p{ font-size:28px; color:#fff; padding-top:25px;width:600px}
.nav{ float:right; margin:15px 0px 0px; width:245px;}
.nav ul li{ display:inline; padding-left:15px;}
.nav ul li a{ font-size:15px; color:#fff;}
.nav ul li a:hover{ color:#fde200;}
.nav p{ margin:0px; padding:0px; margin-top:10px;}
.nav p img{ float:right; margin:0px; padding:0px;}
/*banner and bannerleft*/
.banner,.main{width:960px; margin:0 auto; position:relative;}
.banner{ top:-6px;_top:-11px;}
.bannerl{ background:url(../images/zb_03.jpg) no-repeat; width:632px; height:334px; top:41px;*+top:38px; right:0px; position: relative;}
.ziyuan{ float:left; background:url(../images/nav_14.jpg) no-repeat 30px top; padding-top:30px; position: absolute; z-index:3; top:175px; left:92px; text-align:center; width:115px;}
.ziyuan a,.taoke p a,.zuopin a,.renrentong a,.mingshi a,.zhihui a{font-size:20px; color:#fff;}
.ziyuan img{ float:left; margin-left:10px; display:inline;}

.taoke{ float:left; background:url(../images/nav_03.jpg) no-repeat 32px top; padding-top:40px; position: absolute; z-index:3; top:66px; left:156px; text-align:center; width:115px;}
.taoke ul{ padding:0px; margin:0px; margin-top:5px;}
.taoke ul li{ display:inline; padding-right:10px; padding-left:4px; line-height:22px;}
.taoke ul li a{ font-size:16px; color:#fff;}

.zuopin{ float:left; background:url(../images/nav_07.jpg) no-repeat 32px top; padding-top:40px; position: absolute; z-index:3; top:105px; left:317px; text-align:center; width:115px;}
.renrentong{float:left; background:url(../images/nav_11.jpg) no-repeat 30px top; padding-top:40px; position: absolute; z-index:3; top:180px; left:406px; text-align:center; width:95px;}
.mingshi{float:left; background:url(../images/mingshi_03.jpg) no-repeat 43px 40px; padding-top:80px; position: absolute; z-index:3; top:140px; left:233px; text-align:center; width:115px;}
.zhihui{float:left; background:url(../images/zhihui_03.jpg) no-repeat 30px top; padding-top:40px;position: absolute; z-index:3; top:65px; left:442px; text-align:center; width:95px;}
/*denglu*/
.denglu_k{ position: absolute;top:35px;z-index:4; background:#fff; border:1px solid #e6e6e6; right:7px; background:#fcfcfc; width:322px;float:right;height: 271px; *+height:280px; _height:271px;}.yd_denglu{ margin:0 auto; width:280px; margin-top:20px;}
.nolook,.nopassword{ border:1px solid #e6e6e6; width:247px; height:32px; background:#fff; line-height:32px; color:#888; background:url(../images/header_14.jpg) no-repeat 5px 7px; padding-left:30px;}
.look,.spassword{ border:1px solid #2faafa;width:247px; height:32px; background:#fff; line-height:32px; color:#333; background:url(../images/headerhover.jpg) no-repeat 5px 7px; padding-left:30px;}

.nopassword{ background:url(../images/header_18.jpg) no-repeat 5px 7px; margin-top:15px;}
.spassword{background:url(../images/mima.jpg) no-repeat 5px 7px; margin-top:15px;}

.yonghuming span{ float:left; width:277px; padding-bottom:33px; font-size:16px; color:#92A4BF;}
.yingyongt input{ background:none; border:none;display:inline;}
.yingyongt .yingyong{ background:#ef7a08;font-size:18px; color:#fff; margin-bottom:35px; height:36px; line-height:36px; width:128px; text-align:center; cursor:pointer;}
.yingyongt .tuichu{ background:#b5b5b5;font-size:18px; color:#fff; margin-bottom:35px; height:36px; line-height:36px; width:128px; text-align:center; cursor:pointer; margin-left:24px; display:inline;}


.mima{ font-size:12px; color:#888; margin-top:10px; padding-bottom:15px; float:left; width:278px;}.mima img{ float:left; margin-top:1px; margin-right:5px; display:inline;}
.mima a{ font-size:12px;color:#368dcc;}
.mima .dengl{ background:none; border:none; font-size:18px; color:#fff; margin-top:15px; height:41px; line-height:41px; width:277px; background:#ef554b; text-align:center; cursor:pointer;}

form {width: 300px;margin:20px auto;background-color: #0064cd;display: relative;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image: -webkit-linear-gradient(#049cdb, #0064cd);-webkit-border-r+adius: 10px; 
-moz-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); box-shadow: 0 5px 12px rgba(0,0,0,.4);}
label{display: block; margin-bottom:5px;padding:0px 0px 0px 20px;height: 1.3em;background:url(../images/bg.png) no-repeat;background-position: 0 0px;overflow: hidden; width:80px; float:left;}
label.check{background-position: 0 -20px;}
label input{position: absolute;clip: rect(0 0 0 0);}
    

.dl_linec{ border-top:1px solid #e6e6e6; width:291px; padding:10px 11px 20px 20px; float:left;}
.dl_linec p{ color:#666; font-size:14px; float:left; line-height:21px;}
.dl_linec p strong{ font-size:14px; color:#ef554b;}

/*main*/
.main{ margin-top:10px; overflow:hidden;}
.main h1{ font-size:28px; color:#004795; text-align:center; margin-top:20px;}
.main h3{ color:#666; font-size:18px;text-align:center; padding:10px 0px 10px 0px; border-bottom:1px solid #ccc;}
.main h3 strong{ color:#004795; font-size:18px;}

#index_school .tab1{width:960px; margin:0 auto;}
#index_school .tab1 .menu{width:960px;height:28px;}
#index_school .tab1 .menu ul li{ margin-top:10px;float:left;width:99px;text-align:center;line-height:28px;height:28px;cursor:pointer;color:#004994;font-size:16px;overflow:hidden}
.menudiv{width:960px;}
.menudiv div{ clear:both;}
.off{ background:url(../images/libj_23.jpg) no-repeat 15px bottom; padding-bottom:5px;width:99px; text-align:center; color:#004994;font-weight:bold}
.xuexiao{ width:182px; float:left; background:#4169e1; height:153px; overflow:hidden;display:inline; margin:10px 5px 0px 5px;}
.xuexiao dt{ float:left; width:182px; height:123px;}
.xuexiao dt img{ float:left; width:182px; height:123px;}
.xuexiao dd a{ width:130px; font-size:14px; color:#fff; float:left; line-height:28px;}
.xuexiao dd a:hover{ text-decoration:underline;}
.xuexiao dd{ padding-left:10px; padding-right:10px; height:30px; line-height:30px;}
.xuexiao dd .hom{ float:right;width:24px; margin-top:5px; height:18px;background:url(../images/12_27.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/12_27.png" ,sizingMethod="crop");}

.teacher01,.teacher02,.teacher03{ width:220px; padding-right:10px; border:1px solid #ccc; padding-bottom:7px; margin-top:10px; float:left; margin-right:10px; height:103px; overflow:hidden; display:inline;}
.teacher01 dl dt,.teacher02 dl dt,.teacher03 dl dt{ float:left; width:85px; height:95px; margin:7px 7px 0px 7px; display:inline;}
.teacher01 dl dt img,.teacher02 dl dt img,.teacher03 dl dt img{ width:85px; height:95px; overflow:hidden;}
.teacher01 dl dd h2,.teacher02 dl dd h2,.teacher03 dl dd h2{padding-top:10px; padding-bottom:8px;}
.teacher01 dl dd h2 a,.teacher02 dl dd h2 a,.teacher03 dl dd h2 a{ font-size:14px; color:#004795;}
.teacher01 dl dd p,.teacher02 dl dd p,.teacher03 dl dd p{ font-size:12px; display:inline; line-height:22px;color:#333;}
.teacher01 dl dd p a,.teacher02 dl dd p a,.teacher03 dl dd p a{ font-size:12px; color:#004795;}
.teacher02,.teacher03{ margin-right:0px;}

.mingke,.mingke1,.mingke2{ width:220px; background:#fcfcfc; border:1px solid #ccc;margin-top:10px; float:left; margin-right:10px; height:155px; overflow:hidden; display:inline; padding-right:10px;}
.mingke dl dt,.mingke1 dl dt,.mingke2 dl dt{ float:left; width:108px; height:144px; margin:5px 7px 0px 5px; display:inline;}
.mingke dl dt img,.mingke1 dl dt img,.mingke2 dl dt img{ width:108px; height:144px; overflow:hidden;}
.mingke dl dd h2,.mingke1 dl dd h2,.mingke2 dl dd h2{padding-top:10px; display:inline;}
.mingke dl dd,.mingke1 dl dd,.mingke2 dl dd{display:inline; margin-top:10px;}
.mingke dl dd h2 a,.mingke1 dl dd h2 a,.mingke2 dl dd h2 a{ font-size:14px; color:#004795;}
.mingke dl dd p,.mingke1 dl dd p,.mingke2 dl dd p{ font-size:12px; color:#333; padding-top:7px;}
.mingke dl dd p a,.mingke1 dl dd p a,.mingke2 dl dd p a{ font-size:12px; color:#004795;}
.mingke dl dd p span,.mingke1 dl dd p span,.mingke2 dl dd p span{  background:url(../images/ll_11.jpg) no-repeat 0px 2px; padding-left:16px;font-size:12px; color:#ff6700;}
.mingke dl dd p span img,.mingke1 dl dd p span img,.mingke2 dl dd p span img{ padding-top:2px;}
.mingke1,.mingke2{ margin-right:0px;}

.weike,.weike1,.weike2{ position:relative; width:212px; float:left; height:155px; margin-top:10px; margin-right:37px; display:inline; background:#f5f5f5 url(../images/kc_03.gif) no-repeat left top; padding-top:5px;}
.weike1,.weike2{ margin-right:0px;}
.weikepic{ position:absolute; width:212px; height:128px; z-index:2;}
.weike img,.weike1 img,.weike2 img{ display:block; width:212px; height:128px;}
.weiketitle{ position:absolute; background:#000; width:192px; float:left; z-index:10; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; color:#fff; font-size:12px; height:23px; line-height:23px; bottom:0px; padding:0px 10px; top:110px;}
.weiketitle span{ float:right; font-size:12px; color:#fff;}
.weiketitle a{ font-size:12px; color:#fff;}
.liulan{ position:absolute; width:212px; top:133px; background:url(../images/ll_11.jpg) no-repeat 7px 7px; padding-left:25px; font-size:12px; line-height:27px; color:#FF6700;}

/*footer*/
.footer ul li{ display:inline; color:#ccc; padding:0px 2px;}
.footer ul li a{ font-size:14px; color:#333;}
.footer{background:#edf1f2; width:100%;text-align:center;font-size:12px; padding:14px 0px 0px 0px; margin-top:10px; height:93px;}
.footer p{ font-size:12px;line-height:27px; color:#444; padding-top:10px;}

#scrollDiv{ position:absolute; right:8px; top:320px; *top:330px;white-space:nowrap;}