
/***********************注册成功**********************/

.register{ width:946px; height:560px; margin:0 auto; border:1px solid #ccc;}
.successful{ background:url(/index/images/na_03.jpg) no-repeat;height:45px;}
.successful span{ float:left; width:105px; text-align:center; font-size:14px;font-weight:bold;color:#1466b2; text-align:center; margin-left:20px; display:inline; margin-top:3px; line-height:39px;}
.gongxi{ background:#fbfbfb; width:550px; height:330px; margin:0 auto; margin-top:90px; text-align:center; font-size:14px; font-family:"宋体";line-height:29px;padding-top:24px;}
.gongxi img{ padding-bottom:18px;}
.gongxi p{ font-size:14px;}
.gongxi p strong{ font-size:14px; font-family:"宋体"; font-weight:bold; line-height:32px;}
.denglu{ text-align:left; width:166px; margin:0 auto; padding-bottom:10px;}
.denglu p{ text-align:left; font-size:14px; font-family:"宋体"; color:#ce0000;}
.denglu p font{ font-size:14px; font-family:"宋体"; color:#ce0000;}
.denglu p strong{ font-size:14px; color:#000; font-weight:bold; line-height:29px;}
.gongxi p font{ font-size:14px; font-family:"宋体"; color:#ce0000;}
.fanhui{ margin-top:28px;}
